@import "../../../../scss/theme";
/* Structure */
.table-container {
	min-width: 300px;
	position: relative;
	.primary-table{
		overflow: auto;
		max-height: 500px;
		min-height: 300px;
	}
}
.flat-card.mat-card{
	.mat-card-content{
		 .company-name{
			text-transform: capitalize;
		 }
	}

}
