<!-- heading start -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'REPORT.TB_CONFRIM' | translate}} Reports</span>
  <span fxFlex fxHide.xs></span>
  <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span> -->

  <mat-form-field>
    <mat-select placeholder="Select TB Status" [(value)]="bydefatseletedTbStatus"
      (selectionChange)="TbStatusChange($event)">
      <mat-option [value]="2">All </mat-option>
      <mat-option *ngFor="let ts of TbStatus" [value]="ts.id">
        {{ ts.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<!-- heading end -->
<button mat-fab mat-raised-button (click)="downloadExport()" color="primary" class="btn-sticky"
  matTooltip="TB Confirmation Excel Report Download" matTooltipPosition="left">
  <img class="logo" src="assets/images/icon/excel.png">
</button>
<!-- loader -->
<div align="center" *ngIf="totalItem > 0 ">
  <FONT FAMILY="VERDANA" SIZE="2" color="primary">Completed. {{totalItem}} Records Found.</FONT>
</div>
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="accent" class="loader"></mat-progress-bar>
</div> -->
<!-- Table start -->
<section class="p-a-md">
  <div class="table-container shadow white-box">
    <mat-table [hidden]="TbConfrimationReportlisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.firstName != '' || row.firstName != null">{{row.firstName}}
          </div>
          <div *ngIf="row.firstName == '' || row.firstName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="middleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.middleName != '' || row.middleName != null">{{row.middleName}}
          </div>
          <div *ngIf="row.middleName == '' || row.middleName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.lastName != '' || row.lastName != null">{{row.lastName}}
          </div>
          <div *ngIf="row.lastName == '' || row.lastName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.phoneNumber != '' || row.phoneNumber != null">{{row.phoneNumber}}
          </div>
          <div *ngIf="row.phoneNumber == '' || row.phoneNumber == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Age
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.age != '' || row.age != null">{{row.age}}
          </div>
          <div *ngIf="row.age == '' || row.age == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sex
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.sex != '' || row.sex != null">{{row.sex}}
          </div>
          <div *ngIf="row.sex == '' || row.sex == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="confirmedPositive">
        <mat-header-cell *matHeaderCellDef mat-sort-header> TB Status
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.confirmedPositive == '1'" class="text-accent">Positive
          </div>
          <div *ngIf="row.confirmedPositive == '0'">Negative
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="ViewTbConfirmationReport(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="TbConfrimationReportlisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="TbConfrimationReportlisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
