<mat-toolbar color="primary">
  <span class="mat-title m-a-0 mat-subheading-2"> {{ 'ADMINUSER.VIEW_USER.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('firstName') && userInfo.firstName != '' || userInfo.firstName != null ? userInfo.firstName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="First Name">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('surName') && userInfo.surName != '' || userInfo.surName != null ? userInfo.surName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Last Name">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('phoneNumber') && userInfo.phoneNumber != '' || userInfo.phoneNumber != null ? userInfo.phoneNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Phone Number">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('roleId') && userInfo.roleId?.roleName != '' ||  userInfo.roleId?.roleName != null ? (userInfo.roleId?.roleName) : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Role Name">
    </mat-form-field>
  </div>

  <div fxLayout="row" *ngIf="this.data.roleId._id =='5da444785b04a31c1726802f'">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('state') && userInfo.state != '' || userInfo.state != null ? userInfo.state : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="State">
    </mat-form-field>
  </div>
  <div fxLayout="row" *ngIf="this.data.roleId._id =='5da444785b04a31c1726802f'">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('lga') && userInfo.lga != '' || userInfo.lga != null ? userInfo.lga : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Lga">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Status</label>
    <mat-radio-group aria-label="Select an option" disabled [value]="userInfo.activeStatus">
      <mat-radio-button class="m-x" value="1">Active</mat-radio-button>
      <mat-radio-button class="m-x" value="0">Deactive</mat-radio-button>
    </mat-radio-group>
  </div>


  <div fxLayout="column" class="detail-list">
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <p fxFlex class="m-a-0 mat-subheading-2">First Name:</p>
      <p fxFlex class="m-a-0 mat-subheading-2 text-primary">
        <span *ngIf="userInfo.hasOwnProperty('firstName') && userInfo.firstName != '' || userInfo.firstName != null">{{userInfo.firstName}}</span>
        <span *ngIf="!userInfo.hasOwnProperty('firstName') || userInfo.firstName == '' || userInfo.firstName == null">{{
          'GLOBAL.NOT_AVAILABLE' | translate }}</span>
      </p>
    </div> -->

    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <p fxFlex class="m-a-0 mat-subheading-2">Last Name:</p>
      <p fxFlex class="m-a-0 mat-subheading-2 text-primary">
        <span *ngIf="userInfo.hasOwnProperty('surName') && userInfo.surName != '' || userInfo.surName != null">{{userInfo.surName}}</span>
        <span *ngIf="!userInfo.hasOwnProperty('surName') || userInfo.surName == '' || userInfo.surName == null">{{
          'GLOBAL.NOT_AVAILABLE' | translate }}</span>
      </p>
    </div> -->

    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <p fxFlex class="m-a-0 mat-subheading-2">Phone Number:</p>
      <p fxFlex class="m-a-0 mat-subheading-2 text-primary">
        <span *ngIf="userInfo.hasOwnProperty('phoneNumber') && userInfo.phoneNumber != '' || userInfo.phoneNumber != null">{{userInfo.phoneNumber}}</span>
        <span *ngIf="!userInfo.hasOwnProperty('phoneNumber') || userInfo.phoneNumber == '' || userInfo.phoneNumber == null">{{
          'GLOBAL.NOT_AVAILABLE' | translate }}</span>
      </p>
    </div> -->

    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <p fxFlex class="m-a-0 mat-subheading-2">Active Status:</p>
      <p fxFlex class="m-a-0 mat-subheading-2 text-primary">
        <span *ngIf="userInfo.activeStatus == '1'">Active
        </span>
        <span *ngIf="userInfo.activeStatus != '1'">Deactive
        </span>
      </p>
    </div> -->

    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <p fxFlex class="m-a-0 mat-subheading-2">Role :</p>
      <p fxFlex class="m-a-0 mat-subheading-2 text-primary">
        <span *ngIf="userInfo.hasOwnProperty('roleId') && userInfo.roleId?.roleName != '' ||  userInfo.roleId?.roleName != null">
          {{userInfo.roleId?.roleName}}</span>
        <span *ngIf="!userInfo.hasOwnProperty('roleId') || userInfo.roleId?.roleName == '' ||  userInfo.roleId?.roleName == null">{{
          'GLOBAL.NOT_AVAILABLE' | translate }}</span>
      </p>
    </div> -->


  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
