<!-- heading start -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'REPORT.REFERRAL_PATIENTES_DETAILS' | translate}}</span>
  <span fxFlex fxHide.xs></span>
</mat-toolbar>
<!-- heading end -->
<button mat-fab mat-raised-button (click)="goback()" color="primary" class="btn-sticky" matTooltip="back"
  matTooltipPosition="left">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<!-- loader -->
<div align="center" *ngIf="totalItem > 0 ">
  <FONT FAMILY="VERDANA" SIZE="2" color="primary">Completed. {{totalItem}} Records Found.</FONT>
</div>
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="accent" class="loader"></mat-progress-bar>
</div> -->
<!-- Table start -->
<section class="p-a-md">
  <div class="table-container shadow white-box">
    <mat-table [hidden]="ReferralPatientsDetailslisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="patient_record_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Record No.
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.patient_record_no != '' || row.patient_record_no != null">{{row.patient_record_no}}
          </div>
          <div *ngIf="row.patient_record_no == '' || row.patient_record_no == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.firstName != '' || row.firstName != null">{{row.firstName}}
          </div>
          <div *ngIf="row.firstName == '' || row.firstName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="middleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.middleName != '' || row.middleName != null">{{row.middleName}}
          </div>
          <div *ngIf="row.middleName == '' || row.middleName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.lastName != '' || row.lastName != null">{{row.lastName}}
          </div>
          <div *ngIf="row.lastName == '' || row.lastName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Phone_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.Phone_number != '' || row.Phone_number != null">{{row.Phone_number}}
          </div>
          <div *ngIf="row.Phone_number == '' || row.Phone_number == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> State
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.state != '' || row.state != null">{{row.state}}
          </div>
          <div *ngIf="row.state == '' || row.state == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="current_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.current_status != '' || row.current_status != null"><strong> {{row.current_status}}</strong>
          </div>
          <div *ngIf="row.current_status == '' || row.current_status == null">

            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="speciment_ids">
        <mat-header-cell *matHeaderCellDef mat-sort-header> speciments
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.speciment_ids != '' || row.speciment_ids != null">{{row.speciment_ids.}}
          </div>
          <div *ngIf="row.speciment_ids == '' || row.speciment_ids == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container> -->
      <!-- <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="ViewTbConfirmationReport(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="ReferralPatientsDetailslisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="ReferralPatientsDetailslisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
