<!-- heading start -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'LGA_WISE_INFORMATION.TITLE' | translate}}</span>
</mat-toolbar>
<!-- heading end -->
<button mat-fab mat-raised-button (click)="goDashbord()" color="primary" class="btn-sticky" matTooltip="back"
  matTooltipPosition="left">
  <!-- <img class="logo" src="assets/images/icon/excel.png"> -->
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<div align="center" *ngIf="totalItem > 0 ">
  <FONT FAMILY="VERDANA" SIZE="2" color="primary">Completed. {{totalItem}} Records Found.</FONT>
</div>
<section class="p-a-md">
  <div class="table-container shadow white-box" *ngIf="usertype != 'Generalist user'">
    <mat-table [hidden]="LGAWiseInformationlisting.length > 0" [dataSource]="dataSourcesuperadmin" matSort>
      <ng-container matColumnDef="lga">
        <mat-header-cell *matHeaderCellDef mat-sort-header>LGA</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <div *ngIf="element.lga != '' || element.lga != null">
            {{element.lga}}</div>
          <strong *ngIf="element.lga == '' || element.lga == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Screened">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Screened</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Screened }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Presumptive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Presumptive</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Presumptive }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Positive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Positive</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Positive }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Negative">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Negative</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Negative }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Treatment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Treatment</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Treatment }}%</mat-cell>
      </ng-container>
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active User</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.active }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lapsed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Lapsed User</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.lapsed }}%</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsuperadmin"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsuperadmin;"></mat-row>
    </mat-table>

  </div>




  <div class="table-container shadow white-box" *ngIf="usertype == 'Generalist user'">
    <mat-table [hidden]="LGAWiseInformationlisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="lga">
        <mat-header-cell *matHeaderCellDef mat-sort-header>LGA</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <div *ngIf="element.lga != '' || element.lga != null">
            {{element.lga}}</div>
          <strong *ngIf="element.lga == '' || element.lga == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="Patient">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.patient }}%</mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="Screened">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Screened</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Screened }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Presumptive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Presumptive</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Presumptive }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Positive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Positive</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Positive }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Negative">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Negative</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Negative }}%</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Treatment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Treatment</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Treatment }}%</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
  <div *ngIf="LGAWiseInformationlisting.length > 0">
    <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</section>
<div *ngIf="LGAWiseInformationlisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
