<!-- heading start -->
<mat-toolbar color="primary" fxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'FACILITYMASTER.TITLE' | translate}}</span>
  <span fxFlex fxHide.xs></span>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span>
</mat-toolbar>
<!-- heading end -->

<!-- loader -->
<div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="primry" class="loader"></mat-progress-bar>
</div>
<eco-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
  class="btn-sticky">
  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab (click)="doAction('trigger')" matTooltip="Open" matTooltipPosition="left">
      <mat-icon>menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab matTooltip="Bulk Facility Upload" matTooltipPosition="left" (click)="AddbulkFacility()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Download Facility Template" matTooltipPosition="left">
      <mat-icon>cloud_download</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
<!-- Table start -->
<section class="p-a-md">
  <div class="table-container shadow white-box">
    <mat-table *ngIf="facilitylisting.length > 0" [dataSource]="dataSource">
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.firstName != '' || row.firstName != null">{{row.firstName}}</div>
          <strong *ngIf="row.firstName == '' || row.firstName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.surName != '' ||  row.surName != null">{{row.surName}}</div>
          <strong *ngIf="row.surName == '' ||  row.surName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="view user" color="accent" (click)="viewFacility(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="facilitylisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,50,100,500,1000]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="facilitylisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
