<mat-toolbar color="primary">

  <span class="mat-title m-a-0"> TB STARR Issue Log Details</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.supportNumber != '' ? Messagedetails.supportNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Ticket No.">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.issueSource != '' ? Messagedetails.issueSource : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Issue Source">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.userType != '' ? Messagedetails.userType.toUpperCase(): ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="User Type">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.occuranceDate != '' ? Messagedetails.occuranceDate : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Date of Issue">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.occurranceTime != '' ? Messagedetails.occurranceTime : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Time of Issue">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.androidAppVersion != '' ? Messagedetails.androidAppVersion : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Android App Version">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.androidVersion != '' ? Messagedetails.androidVersion : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Android Version">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.device != '' ? Messagedetails.device : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Android Device Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.menuName != '' ? Messagedetails.menuName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Menu Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.userRegisteredPhoneno != '' ? Messagedetails.userRegisteredPhoneno : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="User's Registered Phone No">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.language != '' ? Messagedetails.language : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Language">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Email Send</label>
    <mat-radio-group aria-label="Select an option" disabled [value]="Messagedetails.emailSent">
      <mat-radio-button class="m-x" value="1">Send</mat-radio-button>
      <mat-radio-button class="m-x" value="0">Not send</mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.state != '' ? Messagedetails.state : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="State">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.lga != '' ? Messagedetails.lga : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Lga">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="Messagedetails.reportedBy != '' ? Messagedetails.reportedBy : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Reported By">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Active Status</label>
    <mat-radio-group aria-label="Select an option" disabled [value]="Messagedetails.status">
      <mat-radio-button class="m-x" value="1">Active</mat-radio-button>
      <mat-radio-button class="m-x" value="0">Deactive</mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="6" readonly
        [value]="Messagedetails.issueDetails != '' ? Messagedetails.issueDetails : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Issue Description"></textarea>
    </mat-form-field>
  </div>

  <div fxLayout.gt-xs="column" fxLayout.xs="column"
    *ngIf="Messagedetails.hasOwnProperty('image') && Messagedetails.image.length > 0">
    <div fxLayout="row" class="uploadArea m-b">
      <div class="upload-thumbnail mat-elevation-z6 p-d" *ngFor="let data of Messagedetails.image">
        <img [src]="getImgUrl(data)">
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left "></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
