<!-- <p>
	error-404 works!
</p> -->

<div class="errorPageMsg" fxLayout="column" fxLayoutAlign="center center">
	<div class="wrapper" fxLayout="column">
		<h1 class="mat-display-4 m-b-md">404</h1>
		<p class="mat-display-2 m-b-0">The page you are looking for could not be found.</p>
	</div>
</div>
