@import "../../../scss/theme";
.errorPageMsg {
	height: 100%;
	color: mat-color($default-app-primary, default-contrast);
	.wrapper {
		text-align: center;
		h1{
			font-size: $mat-base-font-size*10;
			line-height: 110%;
			font-weight: bold;
		}
	}
}

