<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'FACILITYMASTER.ADD_FACILITY.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close (click)="menufacilityDone()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-a-0 m-minus-b">
  <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
    <mat-step [stepControl]="fileFormGroup" [editable]="false">
      <form [formGroup]="fileFormGroup">
        <ng-template matStepLabel>{{ 'FACILITYMASTER.ADD_FACILITY.UPLOAD' | translate }}</ng-template>
        <div fxLayout="row" class="uploadArea m-b">
          <div class="upload-thumbnail mat-elevation-z6">

          </div>
          <button type="button" mat-button fxFlex (click)="fileInput.click()">
            {{uploadFileName}} {{ 'FACILITYMASTER.ADD_FACILITY.TXT_UPLOAD' | translate }}
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <input hidden appFiletypeinput type="file" formControlName="file" (change)="onFilechange($event)"
            #fileInput />
        </div>
        <div fxLayoutAlign="start start">
          <button mat-raised-button color="accent" [disabled]="!fileFormGroup.valid"
            (click)="moveNext(stepper)">{{ 'FACILITYMASTER.ADD_FACILITY.NEXT' | translate }}</button>
        </div>
      </form>
      <mat-progress-bar *ngIf="showLoader" mode="determinate" [value]="progressBarvalue" color="accent"
        class="loader left bottom"></mat-progress-bar>
    </mat-step>
    <mat-step [editable]="false">
      <ng-template matStepLabel>{{'FACILITYMASTER.ADD_FACILITY.DONE' | translate }}</ng-template>
      <mat-dialog-actions fxLayoutAlign="end start">
        <button mat-button mat-dialog-close color="warn"
          (click)="menufacilityDone()">{{ 'GLOBAL.CLOSE' | translate }}</button>
      </mat-dialog-actions>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
