<mat-toolbar color="primary">
  <span class="mat-title m-a-0">TB STARR Issue Log Form</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="helpsupportform" (ngSubmit)="helpsupportSubmit(helpsupportform.value)">
  <mat-dialog-content class="p-y">
    <div fxLayout="column">
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <mat-select placeholder="Select Issue source *" formControlName="Issuesource"
            (selectionChange)="IssuesourceChange($event.value)">
            <mat-option *ngFor="let item of issuesourcelist" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Please Select Valid Issue Source
          </mat-error>
        </mat-form-field>
        <span fxFlex="5" fxHide.xs></span>
        <mat-form-field fxFlex color="accent" class="m-b">
          <mat-select placeholder="Select User Type *" formControlName="UserType"
            (selectionChange)="SetManuNeme($event.value)">
            <mat-option *ngFor="let item of userTypeList" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Please Select Valid User Type
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex>
          <input matInput readonly [matDatepicker]="fromdate" formControlName="OccurranceDate"
            placeholder="Date of Issue*" [max]="todaydate" />
          <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
          <mat-datepicker #fromdate></mat-datepicker>
          <mat-error>
            Please Select Valid Date
          </mat-error>
        </mat-form-field>
        <span fxFlex="5" fxHide.xs></span>
        <mat-form-field fxFlex color="accent" class="m-b">
          <input matInput readonly placeholder="Time of Issue" type="text" formControlName="occurranceTime"
            [readonly]="true">
          <mat-icon matSuffix (click)="openFromTimePicker()">timer</mat-icon>
        </mat-form-field>

        <!-- <p>
          <mat-form-field appearance="standard">
            <mat-label>Standard form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p> -->
      </div>
      <!-- <div fxLayout.gt-xs="row" fxLayout.xs="column">

      </div> -->
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <input matInput placeholder="Android Device Name " formControlName="Device">
          <mat-error>
            Please Enter Valid Device Name
          </mat-error>
        </mat-form-field>
        <span fxFlex="5" fxHide.xs></span>
        <mat-form-field fxFlex color="accent" class="m-b">
          <input matInput placeholder="Android Version *" formControlName="AndroidVersion">
          <mat-error>
            Please Enter Valid Android Version
          </mat-error>
        </mat-form-field>


      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <input matInput placeholder="App Version (App Version Shown on Your App Menu Screen) *"
            formControlName="androidAppVersion">
          <mat-error>
            Please Enter Valid App Version
          </mat-error>
        </mat-form-field>


      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <input matInput placeholder="User's Registered Phone No*" formControlName="UserregisteredPhoneno">
          <mat-error>
            Please Enter Valid User's Registered Phone No
          </mat-error>
        </mat-form-field>
        <span fxFlex="5" fxHide.xs></span>
        <mat-form-field fxFlex color="accent" class="m-b">
          <mat-select placeholder="Select Language *" formControlName="language">
            <mat-option *ngFor="let item of languagelist" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Please Select Valid Language
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <mat-select placeholder="Select State *" formControlName="state" (selectionChange)="StateChange($event)">
            <mat-option *ngFor="let item of StateList" [value]="item.State">
              {{item.State}}
            </mat-option>
          </mat-select>
          <mat-error>
            Please Select Valid State
          </mat-error>
        </mat-form-field>
        <span fxFlex="5" fxHide.xs></span>
        <mat-form-field fxFlex color="accent" class="m-b">
          <mat-select placeholder="Select LGA *" formControlName="lga">
            <mat-option *ngFor="let item of LgaListing" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
          <mat-error>
            Please Select Valid LGA
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <input matInput placeholder="Reported By *" formControlName="ReportedBy">
          <mat-error>
            Please Enter Valid Reported By
          </mat-error>
        </mat-form-field>
        <span fxFlex="5" fxHide.xs></span>
        <mat-form-field fxFlex color="accent" class="m-b">
          <mat-select placeholder="Select Menu Name *" formControlName="menuName">
            <mat-option *ngFor="let item of MenuList" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Please Select Valid Menu Name
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <mat-form-field fxFlex color="accent" class="m-b">
          <textarea matInput matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="6"
            placeholder="Issue Description*" formControlName="IssueDetails"></textarea>
          <mat-error>
            Please Enter Valid Issue Description
          </mat-error>
        </mat-form-field>

      </div>
      <div fxLayout.gt-xs="column" fxLayout.xs="column">
        <div fxLayout="row" class="uploadArea m-b">
          <div class="upload-thumbnail mat-elevation-z6 p-d" *ngFor="let data of imageUrl;let i = index">
            <img [src]="data">
            <button class="btn" mat-icon-button matTooltip="Delete">

              <mat-icon (click)="deleteImge(i)"><i class="material-icons">
                  close
                </i></mat-icon>
            </button>
          </div>
          <button type="button" mat-button fxFlex (click)="fileInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            <label class="d-block mat-body-2">Add Screenshot (Max 3 Images)</label>
          </button>
          <input hidden appFiletypeinput type="file" [multiple]="true" (change)="onImagechange($event)" #fileInput />

        </div>
        <mat-error *ngIf="filevaidation">
          Please Add Minimum One Screenshot
        </mat-error>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">Close</button>
    <button mat-raised-button color="accent">Submit</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
