<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'ADMINUSER.EDIT_ADMIN_USER.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="editAdminUserform" (ngSubmit)="editUsertype(editAdminUserform.value)">
  <mat-dialog-content class="p-y">
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <!-- Select role start -->
      <mat-form-field fxFlex color="accent" class="m-b">
        <mat-select placeholder="{{'ADMINUSER.ADD_USER.ROLE' | translate}}" formControlName="roleId"
          (selectionChange)="StateValidation($event.value)">
          <mat-option *ngFor="let role of RoleListing" [value]="role._id">
            {{role.roleName}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'ADMINUSER.ADD_USER.ROLE_ERROR' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'ADMINUSER.ADD_USER.PHONE_NUMBER' | translate}} *" formControlName="phoneNumber">
        <mat-error>
          {{'ADMINUSER.ADD_USER.PHONE_NUMBER_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder=" {{'ADMINUSER.ADD_USER.EMAIL_ID' | translate}} *" formControlName="email">
        <mat-error>
          {{'ADMINUSER.ADD_USER.EMAIL_EROOR' | translate}}
        </mat-error>
      </mat-form-field> -->
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">

      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'ADMINUSER.ADD_USER.FIRST_NAME' | translate}}  *" formControlName="firstName">
        <mat-error>
          {{'ADMINUSER.ADD_USER.FIRST_NAME_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'ADMINUSER.ADD_USER.SUR_NAME' | translate}} *" formControlName="surName">
        <mat-error>
          {{'ADMINUSER.ADD_USER.SUR_NAME_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" *ngIf="statevalidation">
      <mat-form-field fxFlex color="accent" class="m-b">
        <mat-select placeholder="Select State *" formControlName="state" (selectionChange)="StateChange($event)">
          <mat-option *ngFor="let item of StateList" [value]="item.State">
            {{item.State}}
          </mat-option>
        </mat-select>
        <mat-error>
          Please Select Valid State
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <mat-select placeholder="Select LGA *" formControlName="lga">
          <mat-option *ngFor="let item of LgaListing" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error>
          Please Select Valid LGA
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput type="password" placeholder="{{ 'ADMINUSER.ADD_USER.PASSWORD' | translate}} *"
          formControlName="password">
        <mat-error>
          {{'ADMINUSER.ADD_USER.PASSWORD_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput type="password" placeholder=" {{'ADMINUSER.ADD_USER.CNF_PASSWORD' | translate}} *"
          formControlName="confirmPassword">
        <mat-error
          *ngIf="editAdminUserform.controls['confirmPassword'].errors && editAdminUserform.controls['confirmPassword'].errors.required">
          {{'ADMINUSER.ADD_USER.CNF_PASSWORD_EROOR' | translate}}
        </mat-error>
        <mat-error
          *ngIf="editAdminUserform.controls['confirmPassword'].errors && editAdminUserform.controls['confirmPassword'].errors.equalvalidator">
          {{'ADMINUSER.ADD_USER.CNF_PASSWORD_EROOR2' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-radio-group fxFlex formControlName="activeStatus" class="m-b">
        <label class="d-block mat-body-2">{{ 'GLOBAL.TXT_FILTER_STATUS' | translate }} :</label>
        <mat-radio-button value="1">Active</mat-radio-button>
        <mat-radio-button value="0" class="m-l">Deactive</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
    <button mat-raised-button color="accent">{{ 'GLOBAL.SUBMIT' | translate }}</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
