@import "../../../scss/theme";
@import "../../../scss/utilities";

.footer {
	padding: $spacer/2 $spacer*2;
	background-color: mat-color($mat-grey, 300);
	@media only screen and ($mat-tab-l) {
		padding: $spacer/2 $spacer;
	}
	p {
		margin: 0;
	}
}
