<mat-toolbar color="primary">
  <span class="mat-title m-a-0"> {{ 'FACILITYMASTER.VIEW_FACILITY.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="column" class="detail-list">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>First Name:</span>
      <strong *ngIf="facilityInfo.firstName != '' || facilityInfo.firstName != null">{{facilityInfo.firstName}}</strong>
      <strong
        *ngIf="facilityInfo.firstName == '' || facilityInfo.firstName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Last Name:</span>
      <strong *ngIf="facilityInfo.surName != '' || facilityInfo.surName != null">{{facilityInfo.surName}}</strong>
      <strong
        *ngIf="facilityInfo.surName == '' || facilityInfo.surName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
