@import "../../../scss/theme";
// header
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: $mat-toolbar-height-desktop;
	.menu-toggle{
		width: $mat-toolbar-height-desktop;
		height: $mat-toolbar-height-desktop;
		margin-left: -16px;
		min-width: $mat-toolbar-height-desktop;
	}
	.logo{
		img{
			height: 45px;
		}
	}
	button{
		margin-left: 10px;
	}
}
