<mat-toolbar class="header mat-elevation-z6" color="primary" fxLayout="row">
  <!-- menu button -->
  <button color="grey" mat-button (click)="navBtnClicked()" class="menu-toggle p-a-0">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- logo -->
  <a routerLink="." class="logo" fxFlex="initial">
    <img src="assets/images/logo.png">
  </a>
  <span fxFlex></span>
  <!-- <button mat-mini-fab class="mat-elevation-z0" (click)="logOut()" matTooltip="Sign Out" matTooltipPosition="left">
		<mat-icon>power_settings_new</mat-icon>
  </button> -->
  <mat-menu #headerMenu="matMenu" class="headerMenu" xPosition="before">
    <button mat-menu-item (click)="changePassword()">Change Password</button>
    <button mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="headerMenu">
    Welcome, {{userInfo.data.firstName | titlecase}} {{userInfo.data.surName | titlecase}} ,
    {{userInfo.data?.role.roleName | titlecase}}
    <mat-icon className="material-icons">keyboard_arrow_down</mat-icon>
  </button>

</mat-toolbar>
