<!-- heading start -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading"><strong>
      TB STARR Customer Support Page
    </strong>

    <div align="center">
      <FONT FAMILY="VERDANA" SIZE="2">Welcome to the TB STARR Customer Support
        Page. Please Enter the Issue Details Below.
      </FONT>
    </div>
  </span>

  <span fxFlex fxHide.xs></span>
  <mat-form-field fxFlex="27">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search By Ticket No.">
  </mat-form-field>

</mat-toolbar>
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span fxFlex="73" fxHide.xs></span>
  <mat-form-field fxFlex="15">
    <mat-select placeholder="Select User Manual PDF." [(value)]="selettedpdf" (selectionChange)="pdfChange($event)">
      <mat-option *ngFor="let pdf of pdfUrl" [value]="pdf.name">
        {{ pdf.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span>
  <button fxFlex="10" mat-raised-button color="primary" type="button" (click)="downloadPdf()">Download</button>
</mat-toolbar>

<!-- heading end -->
<button mat-fab mat-raised-button (click)="openhelpsupportmodal()" color="primary" class="btn-sticky"
  *ngIf="createtatus" matTooltip="TB STARR Issue Add" matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</button>
<!-- loader -->
<div align="center" *ngIf="totalItem > 0">
  <FONT FAMILY="VERDANA" SIZE="2" color="primary" *ngIf="!isLoadingResults">Completed. {{totalItem}} Records Found.
  </FONT>
  <FONT FAMILY="VERDANA" SIZE="2" color="primary" *ngIf="isLoadingResults">Fetching Data..
  </FONT>
</div>
<section class="p-a-md">
  <div class="table-container shadow white-box">
    <mat-table [hidden]="supportlisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="supportNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ticket No.
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.supportNumber != '' || row.supportNumber != null">{{row.supportNumber}}
          </div>
          <div *ngIf="row.supportNumber == '' || row.supportNumber == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="IssueSource">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Issue Source
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.issueSource != '' || row.issueSource != null">{{row.issueSource}}
          </div>
          <div *ngIf="row.issueSource == '' || row.issueSource == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="userType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User Type
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.userType != '' || row.userType != null">{{row.userType | uppercase}}
          </div>
          <div *ngIf="row.userType == '' || row.userType == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="occuranceDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Issue
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.occuranceDate != '' || row.occuranceDate != null">{{row.occuranceDate | date}}
          </div>
          <div *ngIf="row.occuranceDate == '' || row.occuranceDate == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="reportedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ReportedBy
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.reportedBy != '' || row.reportedBy != null">{{row.reportedBy}}
          </div>
          <div *ngIf="row.reportedBy == '' || row.reportedBy == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <mat-icon *ngIf="row.status == '1'" [ngClass]="row.status == '1' ? 'status-active' : 'status-deactive'"
              matTooltip="Active">
              fiber_manual_record</mat-icon>
            <mat-icon *ngIf="row.status == '0'" [ngClass]="row.status == '0' ? 'status-deactive' : 'status-active'"
              matTooltip="Deactive">
              fiber_manual_record</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="viewHelpsupport(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="supportlisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="supportlisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
