<div fxFill fxLayout="column" fxLayoutAlign="center center" class="loginPage">
  <div class="loginFormOuter m-a" fxLayout="column">

    <!-- logo above login box start -->
    <div class="loginBoxLogo m-b">
      <a href="javascript:void(0)">
        <img src="assets/images/logo2.png" alt="">
      </a>
    </div>
    <!-- logo above forgot box end -->

    <!-- forgot form start -->
    <div class="loginForm">
      <!-- Forgot form heading start -->
      <div class="loginFormHeading">
        <button mat-fab color="primary">
          <mat-icon>lock</mat-icon>
        </button>
      </div>
      <div *ngIf="step==1">
        <!-- Forgot form heading end -->
        <h2>{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.TXT_CAPTION' | translate }}</h2>
        <p class="m-b">
          <small>{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.TXT_TITLE' | translate }}</small>
        </p>

        <!-- <form> -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" novalidate>
          <!-- Input email -->
          <mat-form-field class="fullWidth" color="accent">
            <input matInput
              placeholder="{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.TXT_PLACEHOLDER_EMAIL' | translate }}"
              type="email" formControlName="email" required>
            <mat-error
              *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors.required">
              {{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.ERROR_EMAIL_REQUIRED' | translate }}
            </mat-error>
            <mat-error
              *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors.pattern">
              {{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.ERROR_EMAIL_INVALID' | translate }}
            </mat-error>
            <mat-icon matPrefix>person</mat-icon>
          </mat-form-field>

          <div class="m-t">
            <!-- Button for submit the forgot form -->
            <button type="submit" mat-raised-button color="accent" [disabled]="!forgotPasswordForm.valid"
              class="fullWidth">{{
              'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.BTN_SUBMIT' | translate }}</button>
            <a mat-button color="warn" class="fullWidth m-t" routerLink="/pre-auth/login">{{
              'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.BTN_BACK' | translate }}</a>
          </div>
        </form>
        <!-- </form> -->
      </div>



      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <!-- Forgot form end -->

  </div>
</div>
