<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{'REPORT.TREATMENT_REPORT' | translate}} Details</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.PatientRecordNumber != '' ? treatmentReportInfo.PatientRecordNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Patient Record Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.firstName != '' ? treatmentReportInfo.firstName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="First Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.middleName != '' ? treatmentReportInfo.middleName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Middle Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.lastName != ''  ? treatmentReportInfo.lastName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Last Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.phoneNumber != '' ? treatmentReportInfo.phoneNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.address != '' ? treatmentReportInfo.address : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Address">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.age != ''  ? treatmentReportInfo.age : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Age">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="treatmentReportInfo.sex != ''  ? treatmentReportInfo.sex : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Sex">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Treatment Initiated Status</label>
    <mat-radio-group aria-label="Select an option" disabled [value]="treatmentReportInfo.initiateTreatment.toString()">
      <mat-radio-button class="m-x" value="1">Yes</mat-radio-button>
      <mat-radio-button class="m-x" value="0">No</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left "></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
