<!-- heading start -->
<mat-toolbar fxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{ 'ROLETYPE.TITLE' | translate}}</span>
  <span fxFlex fxHide.xs></span>
  <span fxFlex="2" fxHide.xs></span>
</mat-toolbar>
<!-- heading end -->

<!-- loader -->
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="primry" class="loader"></mat-progress-bar>
</div> -->

<!-- card start -->
<section class="p-a-md p-t-0">
  <div fxLayout="row" fxLayoutAlign="start none" fxLayoutWrap class="card-wrap fxLayoutWrap">
    <mat-card *ngFor="let row of RoleListing;let i = index;" class="flat-card shadow" fxFlex="none" fxLayout="column"
      appRandomBackground>
      <mat-card-content fxFlex="auto">
        <h3 class="mat-subheading-2 m-b-0 company-name">{{row.roleName}}</h3>
        <!-- <p>{{row.roleName}}</p> -->
      </mat-card-content>
      <mat-card-actions fxFlex="initial">
        <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" (click)="editRoletype(row)"
          *ngIf="editstatus">
          <mat-icon>edit</mat-icon>
        </button>
        <span fxFlex></span>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
<div *ngIf="RoleListing.length == 0" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
<!-- card end -->
