<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{'REPORT.TB_CONFRIM' | translate}} Details</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.PatientRecordNumber != '' ? tbConfirmationReportInfo.PatientRecordNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Patient Record Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.firstName != '' ? tbConfirmationReportInfo.firstName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="First Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.middleName != '' ? tbConfirmationReportInfo.middleName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Middle Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.lastName != ''  ? tbConfirmationReportInfo.lastName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Last Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.phoneNumber != '' ? tbConfirmationReportInfo.phoneNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.address != '' ? tbConfirmationReportInfo.address : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Address">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.age != ''  ? tbConfirmationReportInfo.age : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Age">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="tbConfirmationReportInfo.sex != ''  ? tbConfirmationReportInfo.sex : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Sex">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">TB Status</label>
    <mat-radio-group aria-label="Select an option" disabled
      [value]="tbConfirmationReportInfo.confirmedPositive?.toString()">
      <mat-radio-button class="m-x" value="1">Positive</mat-radio-button>
      <mat-radio-button class="m-x" value="0">Negative</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left "></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
