<!-- heading start -->
<mat-toolbar fxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{ 'ADMINUSER.TITLE' | translate}}</span>
  <span fxFlex fxHide.xs></span>
  <!-- <mat-form-field>
    <mat-select placeholder="Select UserType" [(value)]="bydefatseleteduserType"
      (selectionChange)="UserTypechange($event)">
      <mat-option [value]="0">All </mat-option>
      <mat-option *ngFor="let ut of userType" [value]="ut.id">
        {{ ut.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <span fxFlex="2" fxHide.xs></span>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span>
</mat-toolbar>
<!-- heading end -->

<!-- loader -->
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="accent" class="loader"></mat-progress-bar>
</div> -->



<eco-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
  class="btn-sticky">
  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab color="primary" (click)="doAction('trigger')" matTooltip="Open" matTooltipPosition="left">
      <mat-icon>menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab color="primary" (click)="AddUsertype()" matTooltip="{{'ADMINUSER.ADD_USER.TITLE' | translate}}"
      matTooltipPosition="left" *ngIf="createtatus">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="downloadExport()" matTooltip="Data Portal User Excel Report Download"
      matTooltipPosition="left">
      <img class="logo" src="assets/images/icon/excel.png">
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>

<!-- add cards -->


<section class="p-a-md p-t-0">
  <div class="table-container shadow white-box">
    <mat-table [hidden]="userlisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('firstName') && row.firstName != '' || row.firstName != null">{{row.firstName}}
          </div>
          <strong
            *ngIf="!row.hasOwnProperty('firstName') || row.firstName == '' || row.firstName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('surName') && row.surName != '' ||  row.surName != null">{{row.surName}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('surName') || row.surName == '' ||  row.surName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('phoneNumber') && row.phoneNumber != '' ||  row.phoneNumber != null">
            {{row.phoneNumber}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('phoneNumber') || row.phoneNumber == '' ||  row.phoneNumber == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.hasOwnProperty('roleId')  && row.roleId?.roleName != '' ||  row.roleId?.roleName != null">
            {{row.roleId?.roleName}}</div>
          <strong
            *ngIf="!row.hasOwnProperty('roleId')|| row.roleId?.roleName == '' ||  row.roleId?.roleName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="activeStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <mat-icon *ngIf="row.activeStatus == '1'"
              [ngClass]="row.activeStatus == '1' ? 'status-active' : 'status-deactive'" matTooltip="Active">
              fiber_manual_record</mat-icon>
            <mat-icon *ngIf="row.activeStatus == '0'"
              [ngClass]="row.activeStatus == '0' ? 'status-deactive' : 'status-active'" matTooltip="Deactive">
              fiber_manual_record</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="viewUser(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Edit" color="primary" (click)="editUsertype(row)">
            <mat-icon>border_color</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="userlisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="userlisting.length == 0" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
