<app-header (navToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container fxLayout="row wrap" fxFill class="wrapper">
  <mat-sidenav #sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" class="mat-elevation-z4">
    <!-- sidebar profile start -->
    <!-- <article class="profile p-a" fxLayout="row" fxLayoutWrap fxLayoutAlign="start center">

      <div fxLayout="column" fxFlex class="profileContent p-l">
        <span style='text-align:right'>
          <a class="change-password" href="javascript:void(0)" (click)="changePassword()"> Change Password</a>
        </span>
      </div>
    </article> -->
    <!-- sidebar profile end -->

    <!-- sidebar menu start -->
    <mat-nav-list>
      <ng-container *ngFor="let menu of sideMenuList">
        <!-- accordion -->
        <mat-list-item class="accordion" *ngIf="menu.canAccess && menu.childmenu.length>0;else withoutaccordion">
          <mat-expansion-panel class="mat-elevation-z0 sub-menu" routerLinkActive="activeRoute" (opened)="true">
            <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
              <mat-panel-title>
                <!-- <mat-icon >{{menu.matIcon}}</mat-icon> -->
                <img class="logo" [src]="getImgUrl(menu.matIcon)">
                <span class="m-l">{{menu.name | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <ng-container *ngFor="let childmenu of menu.childmenu">
                <mat-list-item *ngIf="childmenu.canAccess" routerLink="{{childmenu.routeUrl}}"
                  routerLinkActive="activeRoute" (click)="isLargeScreen() ? sidenav.open() : sidenav.close()">
                  <!-- <mat-icon mat-list-icon>{{childmenu.matIcon}}</mat-icon> -->
                  <img class="logo" [src]="getImgUrl(childmenu.matIcon)">
                  <span class="m-l">{{childmenu.name | translate}}</span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </mat-expansion-panel>
        </mat-list-item>
        <ng-template #withoutaccordion>
          <mat-list-item routerLink="{{menu.routeUrl}}" routerLinkActive="activeRoute"
            (click)="isLargeScreen() ? sidenav.open() : sidenav.close()" *ngIf="menu.canAccess">
            <!-- <mat-icon mat-list-icon>{{menu.matIcon}}</mat-icon> -->
            <img class="logo" [src]="getImgUrl(menu.matIcon)">
            <!-- <mat-icon mat-list-icon>{{menu.icon}}</mat-icon> -->
            <span class="m-l">{{ menu.name | translate }}</span>
          </mat-list-item>
        </ng-template>
      </ng-container>
    </mat-nav-list>
    <mat-nav-list *ngIf="Permission.sidePanelpermission('Air Time Report')">
      <ng-container>
        <mat-list-item (click)="goToLink('Air Time Report')">
          <!-- <mat-icon mat-list-icon>{{menu.matIcon}}</mat-icon> -->
          <img class="logo" [src]="getImgUrl('report-icon.png')">
          <!-- <mat-icon mat-list-icon>{{menu.icon}}</mat-icon> -->
          <span class="m-l">Air Time Report
          </span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlex fxLayout="column">
    <div fxFlex class="position-relative">
      <router-outlet></router-outlet>
    </div>
    <app-footer fxFlex="nogrow"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
