<div fxFill fxLayout="column" fxLayoutAlign="center center" class="loginPage">
  <div class="loginFormOuter m-a" fxLayout="column">

    <!-- logo above login box start -->
    <div class="loginBoxLogo m-b">
      <a href="javascript:void(0)">
        <img src="assets/images/logo2.png" alt="">
      </a>
    </div>
    <!-- logo above login box end -->

    <!-- login form start -->
    <div class="loginForm">
      <!-- login form heading start -->
      <div class="loginFormHeading">
        <button mat-fab color="primary">
          <mat-icon>lock</mat-icon>
        </button>
      </div>
      <!-- login form heading end -->
      <!-- <h2>{{ 'COMP_LOGIN.LOGIN_FORM.TXT_CAPTION' | translate }}</h2> -->

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Input email -->
        <mat-form-field class="fullWidth" color="accent">
          <input matInput placeholder="{{ 'COMP_LOGIN.LOGIN_FORM.TXT_PLACEHOLDER_USERNAME' | translate }}" type="text"
            formControlName="email" required>
          <mat-error>
            {{ 'COMP_LOGIN.LOGIN_FORM.ERROR_USER_REQUIRED' | translate }}
          </mat-error>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <!-- Input password -->
        <mat-form-field class="fullWidth m-t" color="accent">
          <input matInput placeholder="{{ 'COMP_LOGIN.LOGIN_FORM.TXT_PLACEHOLDER_PASSWORD' | translate }}"
            type="password" formControlName="password" required>
          <mat-error>
            {{ 'COMP_LOGIN.LOGIN_FORM.ERROR_PASSWORD_REQUIRED' | translate }}
          </mat-error>
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <!-- <mat-checkbox color="accent" formControlName="rememberMe">Remember Me</mat-checkbox> -->
        <div class="m-t">
          <!-- Button for submit the login form -->
          <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid" class="fullWidth">{{
            'COMP_LOGIN.LOGIN_FORM.BTN_LOGIN' | translate }}</button>
          <a mat-button color="accent" routerLink="/pre-auth/forgot-password" class="fullWidth m-t">{{
            'COMP_LOGIN.LOGIN_FORM.BTN_FORGOT_PASSWORD' | translate }}</a>
          <a mat-button color="primary" routerLink="/pre-auth/license-agreement" class="fullWidth m-t">
            License Agreement (EULA) & Privacy Policy</a>
        </div>
      </form>
      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>

    </div>
    <!-- login form end -->

  </div>
</div>
