<!-- heading start -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'REPORT.REFERRAL_INCENTIVE_REPORT' | translate}} Reports</span>
  <span fxFlex fxHide.xs></span>
  <mat-form-field>
    <mat-select placeholder="Select State" [(value)]="bydefatseletedState" (selectionChange)="StateChange($event)">
      <mat-option [value]="0">All States </mat-option>
      <mat-option *ngFor="let st of StateList" [value]="st">
        {{ st.State }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field>
    <mat-select placeholder="Select LGA" [(value)]="bydefatseletedlga" (selectionChange)="LgaChange($event)">
      <mat-option [value]="0">All LGA </mat-option>
      <mat-option *ngFor="let lga of LgaListing" [value]="lga">
        {{ lga }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field>
    <mat-select placeholder="Select Usertype" [(value)]="bydefatseleteduserType"
      (selectionChange)="usertypechange($event)">
      <mat-option [value]="0">All UserType </mat-option>
      <mat-option *ngFor="let user of Usertype" [value]="user.id">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span>
  <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field> -->
  <span fxFlex="2" fxHide.xs></span>
  <a href="javascript:void(0)" (click)="ShowDtefifeker()">
    <FONT FAMILY="VERDANA" SIZE="1">Date Filter</FONT>
  </a>
</mat-toolbar>

<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading" *ngIf="ShowDatepicker">
  <span fxFlex fxHide.xs></span>
  <mat-form-field fxFlex="20">
    <input matInput [matDatepicker]="fromdate" (dateChange)="Change($event,'from')" name="from"
      placeholder="{{ 'GLOBAL.CHOOSEFMDATE' | translate }}" [max]="todaydate" />
    <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
    <mat-datepicker #fromdate></mat-datepicker>
  </mat-form-field>
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field fxFlex="20">
    <input matInput [matDatepicker]="todate" (dateChange)="Change($event,'to')"
      placeholder="{{ 'GLOBAL.CHOOSTODATE' | translate }}" [max]="todaydate">
    <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
    <mat-datepicker #todate></mat-datepicker>
  </mat-form-field>
  <span fxFlex='3' fxHide.xs></span>
  <button mat-raised-button color="primary" type="button"
    (click)="filterwithdate()">{{ 'GLOBAL.SUBMIT' | translate }}</button>

</mat-toolbar>
<!-- heading end -->
<button mat-fab mat-raised-button (click)="downloadExport()" color="primary" class="btn-sticky"
  matTooltip="Referral Incentive Excel Report Download" matTooltipPosition="left">
  <img class="logo" src="assets/images/icon/excel.png">
</button>
<div align="center" *ngIf="totalItem > 0 ">
  <FONT FAMILY="VERDANA" SIZE="2" color="primary">Completed. {{totalItem}} Records Found.</FONT>
</div>
<section class="p-a-md">
  <div class="table-container shadow white-box">
    <mat-table [hidden]="ReferralIncentivelisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.firstName != '' || row.firstName != null">{{row.firstName}}
          </div>
          <div *ngIf="row.firstName == '' || row.firstName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="middleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.middleName != '' || row.middleName != null">{{row.middleName}}
          </div>
          <div *ngIf="row.middleName == '' || row.middleName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="surName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.surName != '' || row.surName != null">{{row.surName}}
          </div>
          <div *ngIf="row.surName == '' || row.surName == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="State">
        <mat-header-cell *matHeaderCellDef mat-sort-header> State
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.State != '' || row.State != null">{{row.State}}
          </div>
          <div *ngIf="row.State == '' || row.State == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="userType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User Type
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.userType != '' || row.userType != null">{{row.userType | uppercase}}
          </div>
          <div *ngIf="row.userType == '' || row.userType == null">
            {{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="incentiveAmont">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Incentive Amont
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.incentiveAmont}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noOfTotalRefPatients">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total Ref Patients
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.noOfTotalRefPatients}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noOfCompltRefPatients">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Completed Ref Patients
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.noOfCompltRefPatients}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noOfIncompleteRefPatients">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Incomplete Ref Patients
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.noOfIncompleteRefPatients}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="ViewReferralIncentiveReport(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="ReferralIncentivelisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="ReferralIncentivelisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
