<!-- content -->
<mat-dialog-content>
  <h3 class="text-center" mat-dialog-title>{{ 'ROLETYPE.DELETE_ROLE.TITLE' | translate }}</h3>
</mat-dialog-content>
<!-- actions -->
<mat-dialog-actions fxLayoutAlign="center start">
  <button mat-raised-button mat-dialog-close color="primary">{{ 'GLOBAL.NO' | translate }}</button>
  <button (click)="deleterole()" mat-raised-button color="accent">{{ 'GLOBAL.YES' | translate }}</button>
</mat-dialog-actions>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
