<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{'REPORT.REFFERED_TITLE' | translate}} Details</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.PatientRecordNumber != '' ? refferedReportInfo.PatientRecordNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Patient Record Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.firstName != '' ? refferedReportInfo.firstName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="First Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.middleName != '' ? refferedReportInfo.middleName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Middle Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.lastName != ''  ? refferedReportInfo.lastName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Last Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.phoneNumber != '' ? refferedReportInfo.phoneNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.address != '' ? refferedReportInfo.address : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Address">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.age != ''  ? refferedReportInfo.age : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Age">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="refferedReportInfo.sex != ''  ? refferedReportInfo.sex : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Sex">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Referral Status</label>
    <div *ngIf="refferedReportInfo.referred == '1' && refferedReportInfo.confirmedPositive == '1' ; else elseBlock">
      <mat-radio-group aria-label="Select an option" disabled>
        <mat-radio-button class="m-x" value="0" checked='true'>Referred</mat-radio-button>
        <mat-radio-button class="m-x" value="1">Not Referred</mat-radio-button>
      </mat-radio-group>
    </div>
    <ng-template #elseBlock>
      <mat-radio-group aria-label="Select an option" disabled>
        <mat-radio-button class="m-x" value="0">Referred</mat-radio-button>
        <mat-radio-button class="m-x" value="1" checked='true'>Not Referred</mat-radio-button>
      </mat-radio-group>
    </ng-template>

  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left "></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
