@import "../../../../scss/theme";

// variable
$spacer: 16px;

.counter-section{
	background-color: mat-color($mat-grey, 200);
}
.dashboard-top{
	background-color: mat-color($mat-grey, 200);
}

.mat-toolbar{
	height: auto;
	&.mat-toolbar-single-row{
		min-height: 64px;
	}
}

::ng-deep.counter{
	.flat-card{
		&.mat-card{
			width: 100%;
			margin: 0;
		}
	}
}


.flat-card{
	.icon-wrap{
		// background-color: mat-contrast($default-app-primary, 800);
		background-color: mat-color($default-app-primary, default-contrast, .2);
	}
}

.feedback{
	// background: mat-color($mat-grey, 200);
	border-radius: 0 0 4px 4px !important;
	.img{
		width: 50px;
		height: 50px;
		display: block;
		border-radius: 100%;
		overflow: hidden;
		background: mat-color($default-app-primary);
		margin: 0 auto;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.quote{
		font-size: $mat-base-font-size*3.5;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 48px;
		height: 48px;
		bottom: -25px;
	}
	&-action{
		::ng-deep.owl-carousel{
			.owl-stage{
				display: flex !important;
			}
		}
		.item{
			// background-color: mat-color($mat-grey, 200);
			border-radius: 4px;
			height: 100%;
			box-sizing: border-box;
			padding: $spacer * 0.25;
			.review{
				margin-bottom: $spacer * 0.5 !important;
				word-break: break-all;
			}
			.review-box{
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				@media screen and ($mat-xs){
					border-bottom-left-radius: 0;
					border-top-right-radius: 4px;
				}
				::ng-deep.rating{
					.star-icon{
						font-size: 1.5em;
					}
				}
			}
			.action-box{
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-left-width: 0 !important;
				@media screen and ($mat-xs){
					border-top-right-radius: 0;
					border-bottom-left-radius: 4px;
					border-left-width: 1px !important;
					border-top-width: 0 !important;
				}
			}
			@media screen and ($mat-xs){
				flex-direction: column !important;
				> div{
					width: 100% !important;
					flex: 100% !important;
					max-width: 100% !important;
				}
			}
		}
	}
}
// .my-chart{
// 	height: 200px;
// }

.event{
	.mat-icon{
		font-size: 200px;
		width: 200px;
		height: 200px;
		opacity: .30;
	}
}
canvas {
	max-width: 100%;
	max-height:  100%;
}

.section-toolbar{
	min-height: inherit;
	&.mat-toolbar.mat-toolbar-single-row{
		min-height: 56px;
		height: 56px;
	}
	.mat-form-field{
		max-height: 58px;
	}
}
// slider
owl-carousel{
  .thumbnail-image{
    width: 70px;
    height: 70px;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    margin-top: 0;
    background-size: 80px;
    border-radius: 100%;
    background-position: center center;
  }
  .mat-card-subtitle{
    font-size: 1.3em;
    margin-bottom: 5px;
  }
  .item{
    margin: 4px 0;
  }
}
mat-card{
  border-radius: 6px;
}

// dashbord map section
.mapSection{
  background: mat-color($mat-grey, 200);
  border-right: 1px solid mat-color($mat-grey, 200);
  .heading{
    background: mat-color($mat-grey, 50);
    margin: 0;
    padding: $spacer $spacer*2;
    display: inline-block;
    border-radius: 6px 0 0 0;
  }
}
.legendDisplay{
  div.list{
    padding: 6px;
  }
}
.mapDtls{
  background: #fff;
  padding: $spacer $spacer*2;
  border-radius: 0 0 0px 6px;
  h4.grey{
    color:mat-color($mat-grey, 00);
  }
}
.pointer {
    cursor: pointer;
}
.xxxx{
  height: 500px;
  width: 100%;
}
