<!-- heading start -->
<mat-toolbar fxLayout="row" class="page-heading">
  <span fxFlex class="m-a-0 mat-subheading-1">Welcome To Dashboard </span>
  <!-- <mat-form-field>
    <mat-label>Network User</mat-label>
    <mat-select>
      <mat-option value="Network User 1">Network User 1</mat-option>
      <mat-option value="Network User 2">Network User 2</mat-option>
    </mat-select>
  </mat-form-field> -->
</mat-toolbar>
<div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="accent" class="loader"></mat-progress-bar>
</div>

<!-- heading end -->
<section class="p-a-md p-t-0">
  <!-- slider section -->

  <div class="topSlideSec" *ngIf="owlItems.length>0">
    <owl-carousel #owlElement
      [options]="{ margin:8,responsiveClass:true,responsive:{ '0':{items:1},'600':{items:4},'1024':{items:6}, '1200':{ items:6}}, dots: false, nav: true}">
      <mat-card class="item text-center p-y-md" [ngClass]="i === clickindex ? 'arrow-down' : ''"
        *ngFor="let item of owlItems; let i = index" (click)="OnclickowlItems(item ,i)">
        <div class="thumbnail-image m-x-auto m-b" *ngIf="i !== clickindex"
          [ngStyle]="{'background-image': 'url('+getImgUrl(item.image)+')'}"></div>
        <div class="thumbnail-image m-x-auto m-b" *ngIf="i === clickindex"
          [ngStyle]="{'background-image': 'url('+getImgUrl(item.image_hover)+')'}">
        </div>
        <!-- <img class="thumbnail-image m-x-auto m-b" mat-card-image [src]="getImgUrl(item.image)"> -->
        <p [ngClass]="i === clickindex ? 'font-weight-600' : 'font-weight-600 text-dark'">{{item.title | titlecase}}
        </p>
        <mat-card-title class="pointer" [ngClass]="i === clickindex ? 'text-accent' : ''">{{item.count}} <mat-icon
            (click)="countClick($event.stopPropagation() , item.bargraphtag)" *ngIf="i === clickindex"><img class="logo"
              height="24px" width="24px" src="assets/images/arrow.png">
          </mat-icon>

        </mat-card-title>
      </mat-card>
    </owl-carousel>
  </div>

  <!-- chart section -->
  <mat-card class="barChart m-y-md" *ngIf="barchartObj.barChartLabels.length >0 ">
    <div fxLayout="row">
      <!-- <p fxFlex class="heading">
        <span class="text-primary"> {{bartitle | titlecase}}</span>
        <span class="text-accent"> ( {{datetitelbargraph}} )</span>
      </p> -->


      <header fxFlex>
        <h4 class="heading"> {{bartitle | titlecase}} <span class="text-accent"> (
            {{datetitelbargraph}} ) - {{datacount}} </span></h4>
      </header>
      <span fxFlex='1' fxHide.xs></span>
      <mat-form-field>
        <mat-select (selectionChange)="datechangedBarChart($event.value)" [(value)]="selecteddateRange">
          <mat-option *ngFor="let data of dateRange;let i = index" [value]="data.id">
            {{ data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" class="p-t border-top border-light" *ngIf="showDatepicker">
      <span fxFlex></span>
      <div fxFlex fxLayoutAlign="end">
        <mat-form-field>
          <input matInput [matDatepicker]="fromdate" (dateChange)="Changedate($event,'from')" name="from"
            placeholder="{{ 'GLOBAL.CHOOSEFMDATE' | translate }}" [max]="todaydate" />
          <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
          <mat-datepicker #fromdate></mat-datepicker>
        </mat-form-field>
        <span fxFlex='5' fxHide.xs></span>
        <mat-form-field>
          <input matInput [matDatepicker]="todate" (dateChange)="Changedate($event,'to')"
            placeholder="{{ 'GLOBAL.CHOOSTODATE' | translate }}" [max]="todaydate">
          <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
          <mat-datepicker #todate></mat-datepicker>
        </mat-form-field>
        <span fxFlex='1' fxHide.xs></span>
        <div>
          <button mat-raised-button color="primary" type="button" (click)="filterWithcostomdatebarchart()">{{
            'GLOBAL.SUBMIT' |
            translate }}</button>
        </div>

      </div>
    </div>

    <canvas baseChart height="60" [datasets]="barchartObj.barChartData" [labels]="barchartObj.barChartLabels"
      [options]="barchartObj.barChartOptions" [plugins]="barchartObj.barChartPlugins"
      [legend]="barchartObj.barChartLegend" [chartType]="barchartObj.barChartType">
    </canvas>
  </mat-card>
  <!-- <span class="text-accent">
    <h1 class="text-center">Work In Progress </h1>
  </span> -->
  <!-- map section -->
  <mat-card class="m-y-md p-a-0">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="75" class="mapSection">
        <header>
          <h4 class="heading">Entries By Region <span class="text-accent"> ( {{datetiteldonorgraph}} )
              <span *ngIf="Seletedlga != ''">-{{Seletedlga}}</span> </span>
          </h4>
          <mat-icon fxFlex fxLayoutAlign="end" (click)="refeshmap()" color="accent">refresh
          </mat-icon>
        </header>

        <div class="staticMap p-y" fxLayoutAlign="center center">
          <img *ngIf="!mapObj.a && !mapObj.b" src="assets/images/map.png" usemap="#Map" />
          <img *ngIf="mapObj.a" src="assets/images/kanoos.jpg" usemap="#Map2" />
          <img *ngIf="mapObj.b" src="assets/images/lagos.jpg" usemap="#Map3" />
          <map name="Map" *ngIf="!mapObj.a && !mapObj.b">
            <area (click)="getArea(1)" shape="poly"
              coords="225,77,235,73,240,63,246,65,253,61,261,61,266,78,270,77,274,86,287,87,283,97,293,109,288,119,278,123,266,136,271,153,265,160,260,153,260,132,248,130,235,114,222,122,217,116,229,106,222,100,224,77"
              href="javascript:void(0)">
            <area (click)="getArea(2)" shape="poly"
              coords="23,351,59,349,58,353,62,356,70,363,3,365,3,358,19,359,22,350,23,351" href="javascript:void(0)">
          </map>
          <map name="Map2" *ngIf="mapObj.a">
            <area shape="poly" (click)="getArea('Kunchi')"
              coords="176,108,200,97,207,80,214,67,221,52,237,39,247,28,268,46,277,65,278,78,284,95,303,112,308,124,290,132,269,131,254,134,205,116,185,119"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Makoda')"
              coords="298,76,301,59,311,43,332,31,339,37,335,51,345,73,353,74,342,79,342,97,350,110,354,129,363,146,349,144,335,145,320,126,310,109,304,101,295,94,290,88,300,76"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Dambatta')"
              coords="354,26,367,21,383,31,393,33,410,33,417,32,418,43,415,51,411,62,415,75,421,84,437,86,449,92,454,101,448,112,444,124,441,130,433,137,423,140,417,132,408,130,397,130,391,137,383,143,372,149,365,134,357,118,348,95,349,87,359,86,365,81,364,70,359,63,349,62,348,52,356,43,353,26"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Gabasawa')"
              coords="421,145,445,140,448,135,460,140,473,141,482,138,498,138,504,147,512,158,516,169,521,178,519,191,517,197,512,204,508,209,512,220,513,223,505,230,484,240,473,252,458,247,461,224,442,213,441,197,447,190,431,183,425,177"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Ajingi')"
              coords="488,247,507,233,515,231,523,222,536,225,552,221,566,223,565,231,565,237,573,242,590,244,594,246,599,237,598,227,607,221,613,232,617,248,616,258,606,261,591,268,578,272,565,279,544,283,527,279,512,284,503,281,491,281,480,284,476,280,474,268,471,261"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Gaya')"
              coords="512,291,529,286,549,286,565,284,586,276,607,270,623,263,622,281,621,299,615,309,602,316,600,323,596,332,595,356,574,359,564,363,551,369,539,370,528,371,517,377,511,367,502,358,495,346,490,338,494,325"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Albasu')"
              coords="520,381,533,375,548,374,559,369,575,366,587,363,596,368,582,377,569,392,558,406,550,421,544,436,537,446,533,434,521,418,517,412,502,393,511,383"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Takai')"
              coords="560,410,574,387,593,375,613,365,635,356,629,371,631,390,650,406,662,417,680,420,668,449,648,449,636,464,633,480,634,492,631,501,620,506,611,507,600,518,588,521,586,509,561,504,549,486,554,475,550,464,538,472,526,478,514,466,531,452,544,443,555,425"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Sumaila')"
              coords="455,490,464,482,475,482,478,470,476,449,485,438,492,428,510,419,525,434,536,443,522,453,513,461,518,474,524,478,528,482,550,471,545,485,548,493,557,510,578,510,580,517,558,523,542,537,520,559,511,576,497,598,466,607,456,594,447,576,423,557,425,538,431,529,443,516,450,502"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Doguwa')"
              coords="345,586,358,588,370,582,383,571,390,559,400,558,407,573,409,592,413,602,426,627,430,641,452,658,447,667,447,679,452,703,462,719,473,737,469,781,458,792,446,815,426,819,407,809,389,782,370,778,356,770,366,758,376,757,380,743,377,727,373,706,372,686,378,652,378,630,366,605"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Tudunwada')"
              coords="304,484,321,497,340,500,371,505,385,502,401,490,419,470,435,464,442,475,448,487,450,497,441,508,440,516,429,522,425,533,421,539,421,547,423,554,425,565,435,573,447,586,454,599,453,607,449,638,446,647,438,631,429,615,420,602,417,587,410,561,403,550,392,551,384,558,377,566,362,577,357,579,354,582,339,580,325,568,305,564,284,558,270,554,261,541,257,527,260,522"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Bebeji')"
              coords="206,452,219,445,233,428,251,415,264,411,279,409,297,423,304,430,306,445,301,455,304,476,296,485,289,497,282,500,274,509,264,512,250,522,240,519,227,513,215,505,208,490"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kiru')"
              coords="138,398,161,385,169,378,177,348,191,346,205,337,218,337,241,342,247,349,250,361,258,369,264,385,266,401,257,407,244,410,232,420,221,435,209,444,193,446,177,448,163,439,146,430,140,421,134,415"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Rogo')"
              coords="42,435,42,418,66,411,77,409,98,404,117,396,126,391,132,392,127,407,132,420,145,436,159,441,172,452,146,462,129,468,123,474,112,481,107,490,94,498,82,503,62,503,47,497,41,486,34,471,25,458,23,453,29,443"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Karaye')"
              coords="98,340,112,337,123,330,136,324,144,321,174,305,182,310,192,317,200,331,180,344,171,355,159,380,140,390,128,388,112,388,100,365,104,365,96,354"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Gwarzo')"
              coords="83,270,91,276,104,281,120,276,130,273,145,269,156,269,161,281,180,286,173,299,160,307,145,316,129,324,110,332,100,337,97,331,96,315,90,307,84,295,82,283"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Shanono')"
              coords="83,151,94,167,109,177,123,185,141,194,140,204,140,222,151,233,175,232,186,234,183,248,185,255,192,260,181,265,165,266,148,265,133,267,113,275,94,273,84,264,81,260,84,238,79,220,76,188,69,162"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Tsanyawa')"
              coords="116,128,133,120,150,117,166,113,174,117,188,123,175,129,171,130,175,146,182,161,187,171,183,180,180,183,164,186,148,195,141,194,131,185,119,178,110,169,93,161,91,151,89,149,92,141"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Bichi')"
              coords="196,124,209,123,224,127,239,136,268,140,293,140,315,131,322,148,322,155,311,159,298,155,294,159,281,169,270,180,247,186,227,185,209,179,190,173,181,156,178,143,178,131"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Bagwai')"
              coords="154,196,165,190,177,187,189,177,202,181,207,184,214,196,219,207,230,213,232,223,228,235,221,251,201,259,191,254,189,238,189,230,179,229,165,228,155,229,143,221,144,200"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kabo')"
              coords="181,269,192,269,205,269,228,285,247,279,251,288,251,309,254,316,265,316,249,335,245,339,237,338,217,334,203,329,195,318,185,304,178,299,184,286,167,278"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Madobi')"
              coords="251,339,265,323,276,313,287,311,308,301,323,302,311,309,308,317,301,327,299,340,295,348,292,368,289,376,280,376,266,375,266,364,258,362,255,352"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kura')"
              coords="313,316,323,310,332,306,339,312,343,317,342,335,336,347,326,361,313,376,307,386,299,378,298,375,296,356,306,328"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Mallam')"
              coords="270,381,283,382,291,382,298,382,302,386,307,390,312,385,315,392,325,394,326,403,319,403,318,411,318,421,305,421,289,414,278,404,269,407,268,394,268,390"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Rano')"
              coords="311,427,320,425,330,425,342,413,344,402,351,407,357,414,370,406,378,398,390,394,389,407,385,419,374,428,368,446,369,460,381,470,378,482,383,500,365,501,333,495,314,483,308,480,303,460"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kibiya')"
              coords="395,399,412,395,431,395,430,402,437,425,437,437,434,445,432,460,419,468,412,471,401,480,387,498,380,487,384,468,375,459,374,448,376,431"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Garko')"
              coords="438,378,446,374,456,381,473,382,479,383,484,388,494,398,503,405,513,410,494,421,479,433,473,442,473,454,473,472,461,478,449,476,444,466,438,457,441,429,435,404"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Wudil')"
              coords="437,348,453,340,462,326,467,316,472,299,479,292,498,290,503,298,494,316,489,335,489,347,499,361,507,377,503,389,499,392,490,389,486,377,474,375,455,375,448,370,440,367"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Bunkure')"
              coords="349,320,366,325,375,336,383,352,391,370,395,381,408,384,407,370,410,355,416,350,432,354,432,364,433,389,412,391,392,393,379,394,372,397,362,406,356,402,350,401,344,399,339,410,333,419,325,421,323,409,329,402,326,395,320,389,319,373,338,354"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kudu')"
              coords="385,282,397,295,412,300,422,307,431,305,434,299,443,307,451,307,461,315,457,330,452,333,442,338,431,344,424,346,418,344,411,350,404,357,404,376,400,374,393,357,389,349,382,334,374,326,367,318,359,318,346,307,373,300"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Tofa')"
              coords="221,187,233,192,250,191,264,186,280,179,294,170,300,157,309,164,326,162,329,152,335,157,336,173,336,180,337,191,331,202,325,212,315,221,307,214,298,207,284,203,273,213,260,207,252,203,237,203,222,195"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Rimin')"
              coords="238,233,247,239,260,243,280,244,294,246,302,247,307,253,303,264,302,268,301,275,302,286,304,294,294,306,282,306,264,312,258,306,253,282,252,276,237,278,232,281,224,275,211,269,210,263,229,250"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Tofa')"
              coords="227,205,253,208,269,213,276,214,288,209,300,213,308,225,299,239,282,241,261,235,249,231,241,223"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Minijibir')"
              coords="345,155,357,151,374,154,387,151,397,139,407,137,414,140,415,151,420,159,419,181,408,190,395,202,390,214,380,213,366,214,356,204,348,200,341,199,342,178,341,162"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Gezawa')"
              coords="396,209,407,195,421,188,436,190,439,192,436,199,435,216,441,222,452,228,456,232,455,247,455,255,443,258,434,262,425,257,417,251,405,253,390,263,381,265,372,261,376,242,389,234,397,220"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Ungogo')"
              coords="308,242,311,229,322,226,331,211,344,203,361,215,388,217,382,229,358,234,346,232,340,226,327,237"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Dala')"
              coords="340,232,351,236,358,237,353,246,329,256,325,247,325,244,328,239" href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Tarauni')"
              coords="359,241,369,236,370,244,369,253,372,260,366,266,358,267,347,267,341,265,335,264,331,257,346,252"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kumbotso')"
              coords="310,251,318,245,325,257,336,269,357,272,373,268,378,271,379,281,372,294,354,300,336,295,333,299,325,297,319,297,314,296,311,288,307,278"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Karaye')"
              coords="387,267,398,265,407,255,421,261,434,264,446,261,459,259,464,269,469,283,472,292,464,309,459,299,448,297,445,302,438,293,425,302,415,291,407,293,402,288,388,275"
              href="javascript:void(0)">
          </map>
          <map name="Map3" *ngIf="mapObj.b">
            <area shape="poly" (click)="getArea('Alimosho')"
              coords="216,46,197,72,193,81,195,92,197,108,183,123,168,143,152,148,149,155,159,178,156,195,161,210,171,225,186,230,206,238,225,234,239,226,236,200,239,187,239,166,252,164,262,164,269,154,269,133,254,126,245,114,242,100,243,86,249,82,240,69,226,68,221,65"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Ojo')"
              coords="60,226,74,225,90,224,107,223,127,216,144,200,149,200,169,232,186,237,198,242,184,262,166,271,169,284,152,278,148,286,147,297,146,305,118,308,87,302,54,300,51,279,47,261,61,255"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Amuwo-Odofin')"
              coords="201,248,215,245,239,236,259,240,282,231,284,243,273,256,269,269,269,285,274,293,292,299,272,304,258,303,233,304,204,306,186,302,168,304,156,301,155,291,154,285,168,287,178,287,177,281,167,273,187,264,195,256"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Amuwo-Odofin')"
              coords="279,257,289,258,296,251,305,257,313,258,313,270,312,282,289,285,275,292,273,285,273,273,273,262"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Apapa')"
              coords="305,248,322,243,321,250,330,255,337,255,347,259,332,272,335,279,321,282,314,281,317,265,317,258"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Lagos Island')"
              coords="352,260,373,262,383,262,400,257,414,264,421,275,399,281,375,279,362,282,351,275,344,269"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Osa')"
              coords="416,285,432,275,445,260,455,269,463,272,482,268,490,260,508,267,513,263,520,257,537,243,548,240,555,216,574,214,597,219,598,230,601,239,616,240,635,237,633,250,626,269,605,290,552,291,526,291,506,289,483,292,380,296,382,284"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Oshodi Isolo')"
              coords="245,174,255,169,266,175,282,170,294,157,296,145,304,166,287,179,293,191,298,202,284,210,278,221,263,234,246,235,246,209,240,207,241,195"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Surulere')"
              coords="304,211,315,212,331,205,331,215,338,226,334,239,318,240,309,240,298,242,285,254,287,235,287,223"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Lagos Mainland')"
              coords="336,204,351,204,371,211,379,216,390,225,387,238,360,239,353,237,338,241,338,225,334,216"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Shomolu')"
              coords="338,181,352,178,358,176,362,183,369,184,384,186,384,195,368,202,366,209,355,202,336,202,331,200"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Mushin')"
              coords="299,179,312,170,320,170,332,170,337,176,335,181,331,193,324,203,311,210,297,211,288,217,300,205,298,193,294,186"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Kosofe')"
              coords="330,99,348,96,365,94,378,96,400,89,395,103,400,117,407,127,418,132,427,137,411,146,406,161,397,167,387,164,370,163,356,163,370,173,353,174,343,176,337,168,333,153,340,138,347,134,341,123,329,111"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Ifako Ijaiye')"
              coords="226,48,248,54,266,62,271,63,295,66,305,75,296,85,294,102,288,105,278,94,265,82,253,80,247,71,231,64,227,62"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Agege')"
              coords="250,88,261,85,273,94,278,99,290,105,292,116,283,125,271,127,258,122,249,119,245,112,248,96"
              href="javascript:void(0)">
            <area shape="poly" (click)="getArea('Ikeja')"
              coords="302,82,316,85,325,94,324,105,328,118,336,127,337,137,332,146,325,161,315,168,311,155,302,141,299,138,289,149,288,155,282,159,273,166,273,150,273,139,287,127,292,121,293,106"
              href="javascript:void(0)"> </map>
        </div>
        <footer class="mapDtls" fxLayout="row">
          <div fxFlex *ngFor="let data of Regionwisedata;let i = index">
            <h3 class="m-a-0">{{data.value}}</h3>
            <h4 class="text-primary m-a-0">{{data.name}}</h4>
          </div>
        </footer>
      </div>
      <div fxFlex="25" fxLayout="column" class="p-x" fxLayoutAlign="center left">
        <h4 class="heading">Statistics by Region

        </h4>
        <mat-form-field>
          <mat-select (selectionChange)="datechangeddoughnutChart($event.value)" [(value)]="selecteddateRangeRegion">
            <mat-option *ngFor="let data of dateRange;let i = index" [value]="data.id">
              {{ data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="showDatepickerRegion">
          <div fxLayout="column" fxLayoutAlign="space-between">
            <mat-form-field>
              <input matInput [matDatepicker]="fromdate" (dateChange)="ChangedateRegion($event,'from')" name="from"
                placeholder="{{ 'GLOBAL.CHOOSEFMDATE' | translate }}" [max]="todaydate" />
              <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
              <mat-datepicker #fromdate></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="todate" (dateChange)="ChangedateRegion($event,'to')"
                placeholder="{{ 'GLOBAL.CHOOSTODATE' | translate }}" [max]="todaydate">
              <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
              <mat-datepicker #todate></mat-datepicker>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" type="button" (click)="filterWithcostomdatedoughnutChartRegion()">{{
                  'GLOBAL.SUBMIT' |
                  translate }}</button>
          </div>

        </div>


        <div class="d-block m-y">
          <canvas height="220" baseChart [datasets]="doughnutChartObj.doughnutChartData"
            [labels]="doughnutChartObj.doughnutChartLabels" [chartType]="doughnutChartObj.doughnutChartType"
            [options]="doughnutChartObj.options">
          </canvas>
        </div>
        <div fxLayout="row wrap" class="m-x-lg legendDisplay">
          <div class="list" fxFlex="50" *ngFor="let item of doughnutChartObj.doughnutChartData[0].data; let i = index">
            <h4 class="m-a-0"><span
                [ngStyle]="{color:doughnutChartObj.doughnutChartData[0].backgroundColor[i]}">{{item}}%
              </span>
              {{doughnutChartObj.doughnutChartLabels[i]}}</h4>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <!-- table section -->
  <mat-card>
    <div class="xxxx" id="chartdiv"></div>
  </mat-card>
  <mat-card>
    <div fxLayout="row">
      <h4 class="heading" fxFlex> LGA Wise Information</h4>
      <button mat-button (click)="goDetailsLGAWiseInformation()">View Reports</button>
    </div>
    <div class="table-container mat-elevation-z2 white-box" *ngIf="usertype != 'Generalist user'">
      <mat-table [dataSource]="dataSourcesuperadmin">
        <mat-header-row *matHeaderRowDef="displayedColumnsuperadmin"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumnsuperadmin;"></mat-row>
        <ng-container matColumnDef="lga">
          <mat-header-cell *matHeaderCellDef>LGA</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">
            <div *ngIf="element.lga != '' || element.lga != null">
              {{ element.lga }}</div>
            <strong *ngIf="element.lga == '' || element.lga == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Screened">
          <mat-header-cell *matHeaderCellDef>Screened</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Screened }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Presumptive">
          <mat-header-cell *matHeaderCellDef>Presumptive</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Presumptive }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Positive">
          <mat-header-cell *matHeaderCellDef>Positive</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Positive }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Negative">
          <mat-header-cell *matHeaderCellDef>Negative</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Negative }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Treatment">
          <mat-header-cell *matHeaderCellDef>Treatment</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Treatment }}%</mat-cell>
        </ng-container>
        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef>Active User</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.active }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lapsed">
          <mat-header-cell *matHeaderCellDef>Lapsed User</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.lapsed }}%</mat-cell>
        </ng-container>
      </mat-table>
    </div>

    <div class="table-container mat-elevation-z2 white-box" *ngIf="usertype == 'Generalist user'">
      <mat-table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
        <ng-container matColumnDef="lga">
          <mat-header-cell *matHeaderCellDef>LGA</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">
            <div *ngIf="element.lga != '' || element.lga != null">
              {{ element.lga }}</div>
            <strong *ngIf="element.lga == '' || element.lga == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Screened">
          <mat-header-cell *matHeaderCellDef>Screened</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Screened }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Presumptive">
          <mat-header-cell *matHeaderCellDef>Presumptive</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Presumptive }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Positive">
          <mat-header-cell *matHeaderCellDef>Positive</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Positive }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Negative">
          <mat-header-cell *matHeaderCellDef>Negative</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Negative }}%</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Treatment">
          <mat-header-cell *matHeaderCellDef>Treatment</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.Treatment }}%</mat-cell>
        </ng-container>
      </mat-table>
    </div>
  </mat-card>
</section>
