@import '~@angular/material/theming';

// typography
$custom-typography: mat-typography-config(
	$font-family: 	'Quicksand, sans-serif',
	$display-4:     mat-typography-level(48px, 54px, 400),
	$display-3:     mat-typography-level(42px, 48px, 400),
	$display-2:     mat-typography-level(36px, 42px, 400),
	$display-1:     mat-typography-level(30px, 36px, 400),
	$headline:      mat-typography-level(24px, 32px, 400),
	$title:         mat-typography-level(20px, 32px, 400),
	$subheading-2:  mat-typography-level(16px, 28px, 600),
	$subheading-1:  mat-typography-level(16px, 24px, 400),
	$body-2:        mat-typography-level(14px, 24px, 600),
	$body-1:        mat-typography-level(14px, 20px, 400),
	$caption:       mat-typography-level(12px, 20px, 400),
	$button:        mat-typography-level(14px, 14px, 600),
	$input:         mat-typography-level(inherit, 1.125, 400)
);
@include mat-core($custom-typography);


// media query
$mat-xs: 'max-width: 599px';
//$mat-sm: screen and (min-width: 600px) and (max-width: 959px);
// $mat-md: screen and (min-width: 960px) and (max-width: 1279px);
// $mat-lg: screen and (min-width: 1280px) and (max-width: 1919px);
// $mat-xl: screen and (min-width: 1920px) and (max-width: 5000px);
$mat-lt-sm: 'max-width: 600px';
$mat-lt-md: 'max-width: 960px';
$mat-lt-lg: 'max-width: 1280px';
$mat-lt-xl: 'max-width: 1920px';
$mat-gt-xs: 'min-width: 600px';
$mat-gt-sm: 'min-width: 960px';
$mat-gt-md: 'min-width: 1280px';
$mat-gt-xl: 'min-width: 1920px';

$mat-tab-l: 'max-width: 1024px';


// default lignt theme
$default-app-primary: mat-palette($mat-indigo, 800, 600, A800);
$default-app-accent: mat-palette($mat-red, 900, A900);
$default-app-warn: mat-palette($mat-brown, 500, 900, 100);
$default-app-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);


// toolbar
$mat-toolbar-height-desktop: 50px !default;

// list
$mat-list-font-size: 14px;

// base font size
$mat-base-font-size: 14px;

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($default-app-theme);
