<!-- heading start -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">
  <span class="heading">{{'REPORT.TITLE' | translate}} Reports</span>

  <span fxFlex fxHide.xs></span>
  <mat-form-field fxFlex="20">
    <mat-select placeholder="Select TB Status" [(value)]="bydefatseletedTB" (selectionChange)="TbChange($event)">
      <mat-option [value]="2">All </mat-option>
      <mat-option *ngFor="let tb of TBList" [value]="tb.id">
        {{ tb.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field fxFlex="20">
    <mat-select placeholder="Select HIV Status" [(value)]="bydefatseletedHIV" (selectionChange)="HIVChange($event)">
      <mat-option [value]="3">All </mat-option>
      <mat-option *ngFor="let hiv of HivList" [value]="hiv.id">
        {{ hiv.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex="2" fxHide.xs></span>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field><span fxFlex="2" fxHide.xs></span>
  <a href="javascript:void(0)" (click)="ShowDtefifeker()">
    <FONT FAMILY="VERDANA" SIZE="1">Date Filter</FONT>
  </a>
</mat-toolbar>

<!-- <mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading">

</mat-toolbar> -->
<mat-toolbar cfxLayout.gt-xs="row" fxLayout.xs="column" class="page-heading" *ngIf="ShowDatepicker">
  <span fxFlex fxHide.xs></span>
  <mat-form-field fxFlex="20">
    <input matInput [matDatepicker]="fromdate" (dateChange)="Change($event,'from')" name="from"
      placeholder="{{ 'GLOBAL.CHOOSEFMDATE' | translate }}" [max]="todaydate" />
    <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
    <mat-datepicker #fromdate></mat-datepicker>
  </mat-form-field>
  <span fxFlex='2' fxHide.xs></span>
  <mat-form-field fxFlex="20">
    <input matInput [matDatepicker]="todate" (dateChange)="Change($event,'to')"
      placeholder="{{ 'GLOBAL.CHOOSTODATE' | translate }}" [max]="todaydate">
    <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
    <mat-datepicker #todate></mat-datepicker>
  </mat-form-field>
  <span fxFlex='3' fxHide.xs></span>
  <button mat-raised-button color="primary" type="button"
    (click)="filterwithdate()">{{ 'GLOBAL.SUBMIT' | translate }}</button>

</mat-toolbar>
<div align="center" *ngIf="totalItem > 0 ">
  <FONT FAMILY="VERDANA" SIZE="2" color="primary">Completed. {{totalItem}} Records Found.</FONT>
</div>
<!-- heading end -->
<button mat-fab mat-raised-button (click)="downloadExport()" color="primary" class="btn-sticky"
  matTooltip="Screened Patient Excel Report Download" matTooltipPosition="left">
  <img class="logo" src="assets/images/icon/excel.png">
</button>
<!-- loader -->
<!-- <div *ngIf="isLoadingResults">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate" color="accent" class="loader"></mat-progress-bar>
</div> -->
<!-- Table start -->
<section class="p-a-md">
  <div class="table-container shadow white-box">
    <mat-table [hidden]="ScreenedReportlisting.length > 0" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.firstName != '' || row.firstName != null">
            {{row.firstName}}</div>
          <strong *ngIf="row.firstName == '' || row.firstName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.lastName != '' ||  row.lastName != null">
            {{row.lastName}}</div>
          <strong *ngIf="row.lastName == '' ||  row.lastName== null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tbstatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TB Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <!-- <FONT *ngIf="row.tbstatus == 1" FAMILY="VERDANA" SIZE="2" color="warn">Presumptive</FONT> -->
          <strong *ngIf="row.tbstatus == 1" class="text-accent">Presumptive</strong>
          <div *ngIf="row.tbstatus == 0">Non-Presumptive </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="visitDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Visit Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.visitDate != '' ||  row.visitDate  != null">
            {{row.visitDate |date}}</div>
          <strong
            *ngIf="row.visitDate  == '' ||  row.visitDate  == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.phoneNumber != '' ||  row.phoneNumber != null">
            {{row.phoneNumber}}</div>
          <strong
            *ngIf="row.phoneNumber == '' ||  row.phoneNumber == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.age != '' ||  row.age != null">
            {{row.age}}</div>
          <strong *ngIf="row.age == '' ||  row.age == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sex</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.sex != '' ||  row.sex != null">
            {{row.sex}}</div>
          <strong *ngIf="row.sex == '' ||  row.sex == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="hivStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>HIV Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <strong *ngIf="row.hivStatus == 1" class="text-accent"> Positive</strong>
          <div *ngIf="row.hivStatus == 0">Negative </div>
          <div *ngIf="row.hivStatus == 2">Unknown </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="View" color="accent" (click)="ViewScreendReport(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="ScreenedReportlisting.length > 0">
      <mat-paginator [length]="totalItem" #paginator [pageSizeOptions]="[10,20,50,100]" (page)="getNext($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>
<div *ngIf="ScreenedReportlisting.length == 0" class="not-found top placeholder" fxLayout="column"
  fxLayoutAlign="center center">
  <img class="logo" src="assets/images/icon/loader.gif" height="32px" width="32px" *ngIf="isLoadingResults">
  <span class="mat-title">{{ showMessage }}</span>
</div>
