@import "../../../../scss/theme";
// logo style
.loginBoxLogo {
	text-align: center;
	a {
		display: inline-block;
	}
}
.tm {
  max-width: 90%;
  padding-bottom: 30px;
}
.ptop {
   padding-top: 30px;

}
 h1{
    text-align: center;
    color: mat-color($default-app-primary, 600);
  }
  h2{
     padding-top: 20px;
      color: mat-color($default-app-primary, 600);
  }
  .csbtn{
    max-width: 100px;
    margin: 10px;
  }
.logop{
  padding-top: 20px;
}
