<div fxLayout="column" fxLayoutAlign="center center" class="loginPage">
  <button mat-fab mat-raised-button (click)="gotoLoginpage()" color="primary" class="btn-sticky" matTooltip="back"
    matTooltipPosition="left">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <div class="logop">
    <a href="javascript:void(0)">
      <img src="assets/images/logo2.png" alt="">
    </a>
  </div>
  <div class="tm">
    <!-- <h1>End User License Agreement</h1> -->
    <h1>TB STARR End User License Agreement (EULA) & Privacy Policy</h1>
    <div class="ptop">
      <p>
        By clicking the “accept” or “ok” button, or installing and/or using the TB STARR mobile software application
        (the
        “<strong>Application</strong>”) you acknowledge and agree that you are entering into a legal agreement with Abt
        Associates (“<strong>we</strong>”,
        “<strong>us</strong>” or
        “<strong>Abt</strong>”) and have understood and agree to comply with, and be legally bound by, the terms and
        conditions of this End
        User
        License Agreement (“<strong>Agreement</strong>”). You hereby waive any applicable rights to require an original
        (non-electronic)
        signature or delivery or retention of non-electronic records, to the extent not prohibited under applicable law.
        If you
        do not agree to be bound by this Agreement please do not download, install, or use the Application.
        Abt is the current owner of all rights, title and interest in and to the TB Screening and Tracking for
        Accelerated
        Referral and Reporting application also known as “TB STARR,” and has the right to grant and rescind licenses for
        use of
        the application. TB STARR was developed through the USAID-funded Sustaining Health Outcomes through the Private
        Sector
        (SHOPS) Plus project in Nigeria. The purpose of the TB STARR application is to facilitate tuberculosis (TB)
        screening,
        tracking, notification, and reporting by licensed clinical providers in Nigeria.
      </p>

      <h2>1. Ability to Accept and Intent</h2>
      <p>
        By installing the Application you affirm that you are over 18 years of age and that your intent is to use TB
        STARR
        to
        lawfully screen, track, refer, and report presumptive and confirmed TB patients in accordance with original
        purpose for
        which this app was developed. Further, you affirm that you are a registered clinical provider and/or employed by
        a
        legal
        and registered clinical facility (e.g. clinic, hospital), PPMV, pharmacy, laboratory, or TB health program.)
      </p>
      <h2>2. Modification</h2>
      <p>
        We reserve the right, in our sole discretion, to revise or modify this Agreement at any time. We will notify you
        of
        significant changes by sending you a notification through the application, through SMS, and/or by publishing the
        revised
        Agreement on the Application, and you agree to be bound by such revisions or modifications. You are responsible
        for
        reviewing this Agreement periodically. Such change will be effective 10 days following the foregoing
        notification
        and/or
        publishing thereof, and your continued use of the Application thereafter will constitute your acceptance of the
        revised
        Terms
      </p>
      <h2>3. License</h2>
      <p>Subject to the terms and conditions hereof, during the period of this Agreement, Abt hereby grants you a
        personal,
        revocable, non-exclusive, non-assignable, non-transferable license to: (i) download, install and use the
        Application on
        a mobile telephone, tablet or device (each, a “Device”) that you own or control; and (ii) access and use the
        Application
        on that Device in accordance with this Agreement and any applicable Usage Rules (as set forth below). </p>



      <h2>4. License Restrictions</h2>
      <p>Except as expressly provided under the previous Section (License), you agree not to, and shall not permit any
        third
        party to: (i) license, redistribute, sell, lease, lend or rent the Application; (ii) make the Application
        available over
        a network where it could be used by multiple devices owned or operated by different people at the same time;
        (iii)
        disassemble, reverse engineer, decompile, decrypt, or attempt to derive the source code of, the Application;
        (iv)
        copy
        (except for back-up purposes), modify, improve, or create derivative works of the Application or any part
        thereof;
        (v)
        circumvent, disable or otherwise interfere with security-related features of the Application or features that
        prevent or
        restrict use or copying of any content or that enforce limitations on use of the Application; (vi) remove, alter
        or
        obscure any proprietary notice or identification, including copyright, trademark, patent or other notices,
        contained in
        or displayed on or via the Application; (vii) use any communications systems provided by the Application to send
        unauthorized and/or unsolicited commercial communications; (viii) use the TB STARR name, logo or trademarks
        without our
        prior written consent; and/or (ix) use the Application to violate any applicable laws, rules or regulations, or
        for any
        unlawful, harmful, irresponsible, or inappropriate purpose, or in any manner that breaches this Agreement.</p>




      <h2>5. Accounts</h2>
      <p>You must register to use TB STARR by registering as an independent clinical provider or as a clinical provider
        in
        a
        known network of SHOPS Plus facilities. Abt reserves the right to refuse to allow any user to register for any
        reason at
        its sole discretion. You agree that you will supply accurate and complete information to us in the creation of
        your
        account and the use of the Application, and that you will update such information promptly if it changes. You
        shall have
        all responsibility for any inaccuracies in any information you provide to us, or in respect of your failure to
        keep such
        information up-to-date.</p>

      <p>You shall not share your account or login information with any third party, nor let any third party access your
        account,
        and are responsible for maintaining the confidentiality of the login information for your account. You are fully
        and
        solely responsible for the security of your computer system, mobile device and all activity on your account,
        even
        if
        such activities were not committed by you. We may terminate your use of the Application if you let someone use
        your
        account inappropriately or if you or anyone using your account violates this Agreement. You agree to immediately
        notify
        us via e-mail at <a href="mailto: TBSTARR@shopsplusproject.org">TBSTARR@shopsplusproject.org</a> of any
        unauthorized use of your account. Abt will not be
        liable for
        any
        losses or damage arising from unauthorized use of the Application, and you agree to indemnify and hold Abt
        harmless for
        any improper or illegal use of the Application, and any charges incurred, unless you have notified us
        immediately
        at the
        email address listed above.</p>


      <h2>6. Termination of Account</h2>
      <p>You agree that we may for any reason, in our sole discretion and without notice, terminate your account.
        Grounds
        for
        such termination may include (i) extended periods of inactivity, (ii) violation of this Agreement or the spirit
        of
        this Agreement, (iii) fraudulent, harassing or abusive behavior, (iv)
        violation of patient confidentiality or privacy intended or inadvertent, or (v) behavior that is harmful to
        other
        users,
        third parties, the community ethos of our Application or our business interests. In the event that we terminate
        your
        account, you may not register for the Application again without our express permission. If you believe that any
        action
        has been taken against your account in error, please contact us at <a
          href="mailto: TBSTARR@shopsplusproject.org">TBSTARR@shopsplusproject.org</a> . </p>

      <p> In addition, if we believe, in our sole discretion, that a violation of this Agreement or any illegal or
        inappropriate
        behavior has occurred, we may take any other corrective action we deem appropriate. We reserve the right to
        investigate
        suspected violations of this Agreement or illegal and inappropriate behavior through the Application. We will
        fully
        cooperate with any law enforcement investigation or court order requesting or directing us to disclose the
        identity,
        behavior or activities of anyone believed to have violated this Agreement or to have engaged in illegal
        behavior.
        You
        may request termination of your account at any time and for any reason by sending an email to
        <a href="mailto: TBSTARR@shopsplusproject.org">TBSTARR@shopsplusproject.org</a> .</p>
      <p>Any suspension or termination of your account shall not affect your obligations to us under this Agreement
        (including
        but not limited to ownership, indemnification, any representations and warranties made by you, and limitation of
        liability), which by their sense and context are intended to survive such suspension or termination.</p>


      <h2>7. Costs Incurred</h2>

      <p>Please be aware that your use of the Application may require and utilize internet connection or data access. To
        the
        extent that third party service provider or carrier charges for your internet or data usage are applicable, you
        agree to
        be solely responsible for those charges.</p>
      <p>Short message service (SMS) messages are automatically generated for certain actions within the networked
        provider user
        types. SMS may be used to provide updates on your registration status or to alert clients of referral or test
        results
        (for networked providers). Abt cannot be held liable or accountable for any of these costs</p>
      <p>Some features of our Application may be rendered through other partner vendors. Our partners’ terms will
        determine the
        terms of these Application features, including the terms of payment, warranties and return policies. For more
        information, please see any such partner’s website. </p>




      <h2> 8. Sharing of patient and data (“Privacy Policy”)</h2>
      <p>You acknowledge that all patient and facility data collected in TB STARR will be viewable by SHOPS Plus program
        staff,
        the National TB Program staff, and State TB Program staff. Di-identified, aggregated indicators may be made
        available
        upon request.
        You agree that you will not download, backup, or otherwise export patient data from your mobile device for any
        purpose.
        If the Application and/or your account is terminated or canceled, you agree that we have no obligation to return
        data to
        you after the Application and/or your account is terminated or cancelled.</p>




      <h2> 9. Intellectual Property</h2>
      <p> Abt Associates and its licensors own the Application, including any material or content made available through
        the
        Application, and all worldwide intellectual property rights, including, without limitation, copyrights, patents,
        trademarks and trade secrets in the foregoing. The provision of the Application does not transfer to you or any
        third
        party any rights, title or interest to such intellectual property rights. We reserve all rights not expressly
        granted
        herein. You will not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights
        notices
        incorporated in the Application. All trademarks are trademarks or registered trademarks of their respective
        owners.
        Nothing in this Agreement grants you any right to use any trademark, service mark, logo, or trade name of ours
        or
        any
        third party. You are not required to provide us with any feedback or suggestions regarding the Application.
        However,
        should you provide us with comments or suggestions for the modification, correction, improvement or enhancement
        of
        Application then you agree that no such feedback shall be subject to any obligation of confidentiality, and we
        may
        use
        or publish such feedback at our discretion.</p>





      <h2>10. Rules of Use</h2>
      <p> You agree that you will not: (a) solicit another person’s account information or other personal information
        under false
        pretenses or otherwise attempt to gain unauthorized access to the Application; (b) impersonate another user or
        otherwise
        misrepresent yourself in any manner (including creating multiple accounts or personas) whether to another user,
        to
        us,
        or otherwise; (c) harvest, collect, gather or assemble information or data regarding other users, including
        e-mail
        addresses, without their consent, (d) violate any applicable law, rule or regulation, (i) publish falsehoods or
        misrepresentations; (e) post or transmit any virus, worm, Trojan horse, or other harmful or disruptive
        component;
        (f)
        circumvent, disable, or otherwise interfere with security-related features of the Application or features that
        prevent
        or restrict use or copying of any content; or (g) use any robot, spider, site search or retrieval application,
        or
        any
        other manual or automatic device or process to retrieve, index, data-mine, the Application.</p>




      <h2>11. Location Data</h2>
      <p> Certain features or functionality (“<strong>Features</strong>”) of the Application may collect or be dependent
        on data related to
        your
        geographic location (“<strong>Features</strong>”). To the extent that we do collect Location Data, we shall use
        it
        in
        accordance
        with our Privacy Policy. If you do not provide or make such Location Data accessible then the Features may be
        limited or
        not operate. The Application may not be available in all geographic locations.</p>




      <h2>12. Updates and Upgrades</h2>
      <p> We may from time to time provide updates or upgrades to the Application (each a “<strong>Revision</strong>”),
        but are not under
        any
        obligation to do so. Such Revisions will be supplied according to our then-current policies, which may include
        automatic
        updating or upgrading without any additional notice to you. You consent to any such automatic updating or
        upgrading of
        the Application. All references herein to the Application shall include Revisions. This Agreement shall govern
        any
        Revisions that replace or supplement the original Application, unless the Revision is accompanied by a separate
        license
        agreement which will govern the Revision.
      </p>




      <h2> 13. No Warranties; Disclaimer</h2>
      <p>Your use of any aspect of the Application is at your own risk and discretion. We make no representations or
        warranties
        whatsoever in respect of the Application. We cannot and do not accept any liability whatsoever in respect of any
        content
        which is provided by third parties. We disclaim all liability, regardless of the form of action, for the acts or
        omissions, of such entities, online or offline, or for any personal injuries, death, property damage, or other
        damages
        including consequential damages or expenses resulting therefrom. Abt has no liability and will make no refund in
        the
        event of any delay, cancellation, strike, force majeure or other causes beyond its direct control and it has no
        responsibility for any additional expense, omissions or acts of any government or authority. To the maximum
        extent
        permitted by applicable law, everything available on or through the Application is provided to you “AS-IS” and
        “AS-AVAILABLE” without warranty of any kind.</p>





      <h2>14. Limitation of Liability</h2>
      <p> To the maximum extent permitted by applicable law, in no event shall we be liable to you or any third party
        for
        any
        damages, including but not limited to general, incidental, consequential, indirect, direct, special or punitive
        damages,
        arising out of or relating to the Application or content. In any case, our entire liability under any provision
        of
        this
        Agreement shall not exceed amounts actually paid by you directly to us for the use of the Application hereunder
        within
        the 3 months preceding the date of bringing a claim. As such, if you have not made any payments to us in order
        to
        use
        the Application, we shall not have any liability to you whatsoever.</p>
      <p>In addition to the foregoing, Abt assumes no responsibility for any error, omission, interruption, deletion,
        defect,
        delay in operation or transmission or communications line failure. Abt is not responsible for any problems or
        technical
        malfunction of any telephone or cellular phone network or lines, computer online systems, servers or providers,
        computer
        equipment, software, failure of any email due to technical problems or traffic congestion on the Internet or on
        the
        Application, including any injury or damage to users or to any person’s mobile device or computer related to or
        resulting from participation or use of the Application. Abt cannot and does not warrant that any Third-Party
        Application
        shall transmit any information to us, correct or otherwise, or that any information submitted by you shall be
        retained
        and stored, correctly or at all. Under no circumstances shall Abt be responsible for any loss or damage,
        including
        personal injury or death, resulting from use of the services, whether online or offline, or in connection with
        eating
        while using or refraining from using recommendations provided by the Application or exercising while using the
        services
        and/or participating in competitions advertised on the Application.</p>



      <h2>15. Indemnification</h2>
      <p> You agree to indemnify, defend, and hold us harmless (including our employees, directors, officers,
        subcontractors and
        agents) against any and all claims, damages, losses, liabilities, costs or expenses (including reasonable
        attorneys’ fees and court costs) (“<strong>Claims</strong>”) that arise directly or indirectly from:
        (a) the breach of this Agreement by you or anyone using your computer, mobile device, password or login
        information,
        including due to submission of false reports of your exercise activities and levels thereof; (b) any claim, loss
        or
        damage experienced from your use or attempted use of (or inability to use) the Application; (c) your violation
        of
        any
        law or regulation; (d) your infringement of any right of any third party, including without limitation the
        infringement
        of any third party intellectual property right or moral right; or (e) any other matter for which you are
        responsible
        hereunder or under law. You agree that your use of the Application shall be in compliance with all applicable
        laws,
        regulations and guidelines. Without derogating from or excusing your obligations under this Section, we reserve
        the
        right (at your own expense), but are not under any obligation, to assume the exclusive defense and control of
        any
        matter
        which is subject to an indemnification by you if you choose not to defend or settle it. You agree not to settle
        any
        matter subject to an indemnification by you without first obtaining our express approval.</p>




      <h2>16. Usage Rules</h2>
      <p> If you are downloading the Application from a third party mobile device platform or service provider
        (“<strong>Distributor</strong>”),
        please be aware that the Distributor may have established usage rules which also govern your use of the App
        (“<strong>Usage
          Rules</strong>”). We specifically refer to the Usage Rules of Apple in the Section below, but other Usage
        Rules
        may be
        applicable
        depending on where the Application has been downloaded from. You acknowledge that, prior to downloading the
        Application
        from a Distributor, you have had the opportunity to review and understand, and will comply with, its Usage
        Rules.
        The
        Usage Rules that are applicable to your use of the Application are incorporated into this Agreement by this
        reference.
        You represent that you are not prohibited by any applicable Usage Rules and/or applicable law from using the
        Application; if you are unable to make such a representation you are prohibited from installing and/or using the
        Application.</p>

      <h2> 17. Miscellaneous</h2>
      <p>This Agreement shall be governed by the law of the Republic of Nigeria exclusive of its choice of law rules.
        Your
        conduct may also be subject to other local, state, and national laws. Any cause of action against us must be
        brought
        within 1 year of the date such cause of action arose. In the event that any provision of this Agreement is held
        to
        be
        unenforceable, such provision shall be replaced with an enforceable provision which most closely achieves the
        effect of
        the original provision as permitted by applicable law, and the remaining terms of this Agreement shall remain in
        full
        force and effect. Nothing in this Agreement creates any agency, employment, joint venture, or partnership
        relationship
        between you and us or enables you to act on our behalf. Except as may be expressly stated in this Agreement,
        this
        Agreement constitute the entire agreement between us and you pertaining to the subject matter hereof, and
        supersedes any
        other agreements, understandings or warranties. Nothing contained in this Agreement shall be construed to limit
        the
        actions or remedies available to us with respect to any prohibited activity or conduct. Non-enforcement of any
        term of
        this Agreement does not constitute consent or waiver, and we reserve the right to enforce such term at our sole
        discretion. No waiver of any breach or default hereunder shall be deemed to be a waiver of any preceding or
        subsequent breach or default. We may assign our rights under this Agreement to any third party. You may not
        assign your rights or
        obligations hereunder except as we expressly permit in writing. Any notice to be provided to you pursuant to
        this
        Agreement may be provided to the email address or other contact information you have provided to us.</p>
    </div>


  </div>

  <mat-checkbox labelPosition="after" (change)="accept($event)"> <strong>I Accept the License Agreement
      (EULA) & Privacy Policy</strong>
  </mat-checkbox>

  <button type="button" (click)="gotoLoginpage()" mat-raised-button color="primary" class="csbtn"
    [disabled]="!iaccpect">
    Submit</button>
</div>
