<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'USERMASTER.EDIT_USER.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="EditUserform" (ngSubmit)="EditUser(EditUserform.value)">
  <mat-dialog-content class="p-y">

    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-radio-group fxFlex formControlName="activeStatus">
        <label class="d-block mat-body-2">{{ 'GLOBAL.TXT_FILTER_STATUS' | translate }} :</label>
        <mat-radio-button value="1">{{ 'GLOBAL.TXT_ACTIVE' | translate }} </mat-radio-button>
        <mat-radio-button value="0" class="m-l">{{ 'GLOBAL.TXT_DEACTIVE' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
    <button mat-raised-button color="accent">{{ 'GLOBAL.SUBMIT' | translate }}</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
