<mat-toolbar color="primary">
  <span class="mat-title m-a-0">Change Password</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="changePasswordform" (ngSubmit)="changePassword(changePasswordform.value)">
  <mat-dialog-content class="p-y">
    <div fxLayout="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input type="password" matInput placeholder="{{ 'CHANGE_PASS.CURRENT_PASSWORD' | translate }} *"
          formControlName="oldPassword">
        <mat-error>
          {{ 'CHANGE_PASS.current_password_error' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input type="password" matInput placeholder="{{ 'CHANGE_PASS.NEW_PASSWORD' | translate }} *"
          formControlName="password">
        <mat-error>
          {{ 'CHANGE_PASS.NEW_PASSWORD' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input type="password" matInput placeholder="{{ 'CHANGE_PASS.CON_PASS' | translate }} *"
          formControlName="confirmPassword">
        <mat-error>
          {{ 'CHANGE_PASS.ERROR_CON_PASS' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">Close</button>
    <button mat-raised-button color="accent">Submit</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
