<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{'REPORT.TITLE' | translate}} Details</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="(userInfo.Patient_Record_Number == '' || userInfo.Patient_Record_Number == null)? ('GLOBAL.NOT_AVAILABLE' | translate) : userInfo.Patient_Record_Number"
        placeholder="Patient Record Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="(userInfo.firstName == '' || userInfo.firstName == null) ? ('GLOBAL.NOT_AVAILABLE' | translate): userInfo.firstName"
        placeholder="First Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="(userInfo.lastName == '' || userInfo.lastName == null) ?('GLOBAL.NOT_AVAILABLE' | translate)  : userInfo.lastName"
        placeholder="last Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="(userInfo.phoneNumber == '' || userInfo.phoneNumber == null)?('GLOBAL.NOT_AVAILABLE' | translate)  : userInfo.phoneNumber"
        placeholder="Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.secondaryPhoneNumber == '' || userInfo.secondaryPhoneNumber == null ?  ('GLOBAL.NOT_AVAILABLE' | translate) :userInfo.secondaryPhoneNumber"
        placeholder="Alternate Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="(userInfo.address == '' || userInfo.address == null)?('GLOBAL.NOT_AVAILABLE' | translate)  : userInfo.address"
        placeholder="Address">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="(userInfo.age == '' || userInfo.age == null) ? ('GLOBAL.NOT_AVAILABLE' | translate) : userInfo.age"
        placeholder="Age">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Had TB Before</label>
    <mat-radio-group disabled>
      <mat-radio-button class="m-x" *ngIf="userInfo.Had_TB_Before==1">Yes</mat-radio-button>
      <mat-radio-button class="m-x" *ngIf="userInfo.Had_TB_Before==0">No</mat-radio-button>
      <mat-radio-button class="m-x" *ngIf="userInfo.Had_TB_Before==2">Unknown</mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">HIV Status</label>
    <mat-radio-group disabled>
      <mat-radio-button class="m-x" *ngIf="userInfo.hivStatus==1">Positive</mat-radio-button>
      <mat-radio-button class="m-x" *ngIf="userInfo.hivStatus==0">Negative</mat-radio-button>
      <mat-radio-button class="m-x" *ngIf="userInfo.hivStatus==2">Unknown</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row">
    <label class="mat-subheading-1">TB Status</label>
    <mat-radio-group disabled>
      <mat-radio-button class="m-x" *ngIf="userInfo.tbstatus==1">Presumptive</mat-radio-button>
      <mat-radio-button class="m-x" *ngIf="userInfo.tbstatus==0">Non-Presumptive</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left "></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
